@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Light.eot');
    src: url('../fonts/TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTHoves-Light.woff2') format('woff2'),
        url('../fonts/TTHoves-Light.woff') format('woff'),
        url('../fonts/TTHoves-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Medium.eot');
    src: url('../fonts/TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTHoves-Medium.woff2') format('woff2'),
        url('../fonts/TTHoves-Medium.woff') format('woff'),
        url('../fonts/TTHoves-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-DemiBold.eot');
    src: url('../fonts/TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTHoves-DemiBold.woff2') format('woff2'),
        url('../fonts/TTHoves-DemiBold.woff') format('woff'),
        url('../fonts/TTHoves-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Bold.eot');
    src: url('../fonts/TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTHoves-Bold.woff2') format('woff2'),
        url('../fonts/TTHoves-Bold.woff') format('woff'),
        url('../fonts/TTHoves-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('../fonts/TTHoves-Regular.eot');
    src: url('../fonts/TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTHoves-Regular.woff2') format('woff2'),
        url('../fonts/TTHoves-Regular.woff') format('woff'),
        url('../fonts/TTHoves-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border: none;
    text-decoration: none;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {height: 100%;}

body {
	background: #fff;
    font-family: 'TT Hoves', sans-serif;
    color: #17191a;
    overflow-x: hidden;
}   

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.22;
    letter-spacing: -.4px;
    color: #17191a;
}


h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.19;
}

:root {
    --akcent-c: #ff2300;
}

.d-flex {display: flex;}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    display: inline-flex;
    padding: 12px 14px;
    background: #0080c8;
    color: #fff;
    font-size: 14px;
    border: 1px solid #0080c8;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    background: #0098ed;
    border-color: #0098ed;
}

.btn-show {
    color: #0080c8;
    border: 1px solid #0080c8;
    font-size: 12px;
    padding: 10px 14px;
    border-radius: 8px;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-show:hover {
    background: #0080c8;
    border-color: #0080c8;
    color: #fff;
}

/*  TABS
------------------------------------------------- */
.tabs-nav {
    display: flex;
    align-items: center;
}
.tabs-nav .tab-btn {
    position: relative;
    padding-bottom: 10px;
    font-size: 36px;
    font-weight: 700;
    color: #d7dadb;
    cursor: pointer;
    transition: color .5s ease-in-out;
}
.tabs-nav .tab-btn + .tab-btn {margin-left: 30px;}
.tabs-nav .tab-btn:hover {color: #17191a;}

.tabs-nav .tab-btn:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: #0080c8;
    opacity: 0;
}

.tabs-nav .tab-btn.active {color: #17191a;}
.tabs-nav .tab-btn.active:after {opacity: 1;}

.tabs-content .tab-item {display: none;}
.tabs-content .tab-item.active {display: block;}

/*  SLIDER 
------------------------------------------------- */
.swiper-initialized {overflow: hidden;}

.center {
    max-width: 1420px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

/*  HEADER-TOP
------------------------------------------------- */
.header-top {
	padding: 11px 30px;
	background: #0080c8;
    position: relative;
    z-index: 5515;
}
.header-top.active {padding-top: 80px;}

.header-top ul {
	display: flex;
}

.header-top ul li + li {margin-left: 20px;}

.header-top ul li a {
	font-size: 14px;
	color: #fff;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition: 0.3s ease;
}

.header-top ul li a:hover {
    border-bottom: 1px solid #fff;
}

/*  HEADER 
------------------------------------------------- */
.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 30px;
    position: relative;
    background: #fff;
    position: sticky;
    top: -1px;
}

.header.fixed {
    position: fixed;
    z-index: 9999;
    box-shadow: 0 10px 20px 0 rgb(0 16 26 / 5%);
}

.header .logo {
    width: 200px;
    height: 40px;
    margin-right: 45px;
}

.header .menu {
	display: flex;
}

.header .menu > li + li {margin-left: 25px;}

.header .menu > li > a {
    position: relative;
    font-weight: 600;
    color: #17191a;
    font-size: 16px;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease;
    padding-bottom: 3px;
}

.header .menu > li > a:after {
    content: '';
    display: none;
    width: 100%;
    width: 9px;
    height: 9px;
    background: url(../img/icon-down.svg) no-repeat center;
    background-size: contain;
    position: absolute;
    right: 0;
    margin-right: -12px;
    top: 50%;
    transform: translateY(-50%);
}
.header .menu li a.btn-drop:after {display: block;}
.header .menu li a.open:after {transform: translateY(-50%) rotate(180deg);}

.header .menu > li > a:before {
    content: '';
    display: none;
    width: 6px;
    height: 6px;
    background: #0080c8;
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: 5px;
    transform: translateX(-50%);
    border-radius: 50%;
}

.header .menu > li > a:hover {border-color: #0080c8;}
.header .menu > li > a.active {border-color: transparent;}
.header .menu > li > a.active:before {display: block;}

.header .sub-menu {
    display: flex;
    align-items: center;
    background: #0080c8;
    position: absolute;
    top: 90%;
    padding: 15px 0;
    opacity: 0;
    transition: 0.3s ease;
    visibility: hidden;
}

.header .sub-menu.open {
    top: 100%;
    opacity: 1;
    visibility: visible;
}

.header .sub-menu:after {
    content: '';
    display: block;
    width: 1000%;
    height: 100%;
    background: #0080c8;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 55;
}

.header .sub-menu:before {
    content: '';
    display: block;
    width: 1000%;
    height: 100%;
    background: #0080c8;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 55;
}

.header .sub-menu li a {
    position: relative;
    border-radius: 10px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 10px;
    font-weight: 600;
    transition: 0.3s ease;
}

.header .sub-menu li a:hover {
    background: rgb(225, 225, 225, 0.2);
}

.header .sub-menu li a:after {
    content: '';
    display: block;
    position: absolute;
    left: 10px;
    width: calc(100% - 20px);
    height: 2px;
    background: #fabc43;
    opacity: 0;
}

.header .sub-menu li a.active:after {opacity: 1;}
.header .sub-menu li a.active:hover:after {
    opacity: 0;
}

.header .secondary {
    display: flex;
    margin-left: auto;
}

.secondary a {
    display: flex;
    align-items: center;
    height: 35px;
    font-weight: 600;
    border-radius: 8px;
    transition: 0.3s ease;
}

.secondary .btn-toggle {
    font-size: 16px;
    padding: 0 15px;
    color: #879399;
    display: flex;
    align-items: center;
}
.secondary .btn-toggle:before {
    content: '';
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: url(../img/ic-search.png) no-repeat center center;
    background-size: cover;
}
.secondary .btn-toggle:hover {
    background: #f0f3f5;
}

.secondary .btn-link {
    margin-left: 12px;
    padding: 0 15px;
    background: #0080c8;
    font-size: 12px;
    color: #fff;
}
.secondary .btn-link:hover {
    background: #0098ed;
}

.drop-search {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    background: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
    transform: translateY(-100%);
    transition: 0.3s ease;
    visibility: hidden;
}

.drop-search.open {
    transform: none;
    visibility: visible;
}

.form-search {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-search:before {
    content: '';
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background: url(../img/ic-search.png) no-repeat center;
    background-size: cover;
}

.form-search input[type="search"] {
    width: 100%;
    padding: 5px 0;
}
.form-search input[type="search"]::placeholder {
    font-family: 'TT Hoves', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #879399;
}

.form-search input[type="submit"] {
    padding: 10px 14px;
    font-size: 12px;
}

.form-search input[type="submit"] {
    font-family: 'TT Hoves', sans-serif;
    font-weight: 600;
}

.btn-close {
    position: relative;
    min-width: 24px;
    min-height: 24px;
    margin-left: 30px;
    border-radius: 50%;
    background: #e9e9e9;
}

.btn-close:hover {
    background: #eee;
}

.btn-close:before {
    content: '';
    display: block;
    width: 15px;
    height: 1.5px;
    background: #879399;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
.btn-close:after {
    content: '';
    display: block;
    width: 15px;
    height: 1.5px;
    background: #879399;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
}

/*  TICKERS 
------------------------------------------------- */
.tickers {
    padding: 20px 0;
    border-radius: 16px 16px 0 0;
    background: #f0f3f5;
}

.tickers h6 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}

.tickers .tickers-slider {margin-top: 30px;}

.tickers .swiper-slide {
    padding: 30px;
    background: #fff;
    border-radius: 12px;
}


.tickers .swiper-button-next,
.tickers .swiper-button-prev {
    display: none;
}

/*  POSTS 
------------------------------------------------- */
.posts {padding-top: 40px;}
/*.posts .center {width: calc(100% - 240px);}*/

.posts .tabs-nav {margin-bottom: 30px;}

.posts-slider {position: relative;}

.posts-slider .swiper-button-next:after, 
.posts-slider .swiper-button-prev:after {
    font-size: 35px;
    color: #99a0a5;
}

.post-wrap {
    display: grid;
    gap: 0 34px;
    grid-template-columns: 2fr 1fr;
}

.post-wrap .images {
    border-radius: 16px;
    overflow: hidden;
}

.post-wrap .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post-wrap .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-wrap .content h3 {
    color: #17191a;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.22;
}

.post-wrap .content .text {
    margin-top: 15px;
    color: #444a4d;
    font-size: 21px;
    line-height: 1.57;
}

.post-wrap .content .date {
    margin: 30px 0 30px 0;
    font-size: 14px;
}


/*  PRESS-RELEASES 
------------------------------------------------- */
.press-releases {
    padding: 40px 0;
    background: #f0f3f5;
}

.press-releases .btn-show {
    margin-left: 30px;
}

.press-releases .head {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.press-releases .nav-slide {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
    margin-left: auto;
}

.press-button-prev, 
.press-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    margin-top: 0;
    border-radius: 50%;
    min-width: 48px;
    min-height: 48px;
    transition: 0.3s ease;
}

.press-button-prev:hover, 
.press-button-next:hover {
    background: #17191a;
}

.press-button-next:after, 
.press-button-prev:after {
    font-size: 25px;
    color: #99a0a5;
    transition: 0.3s ease;
}

.press-button-next:hover:after,
.press-button-prev:hover:after {
    color: #fff;
}

.press-slider .swiper-pagination {
    position: static;
    margin-top: 30px;
}

.press-slider .swiper-pagination-bullet {
    min-width: 16px;
    min-height: 16px;
    border: 1px solid #d7dadb;
    background: #fff;
    opacity: 1;
    transition: 0.3s ease;
}

.press-slider .swiper-pagination-bullet:hover {
    border-color: #0080c8;
}

.press-slider .swiper-pagination-bullet-active {
    background: #d7dadb;
}

.press-slider .item .image {position: relative;}
.press-slider .item .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: #0080c8;
    opacity: 0;
    transition: 0.3s ease;
}

.press-slider .swiper-slide:hover .image:before {opacity: 0.2;}

.press-slider .image {
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 16px;
}

.press-slider .image img {
    display: block;
    width: 100%;
}

.press-slider .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #17191a;
    transition: 0.3s ease;
}

.press-slider .swiper-slide:hover .title {color: #0080c8;}

.date {
    display: block;
    color: #879399;
    font-weight: 600;
    font-size: 12px;
}

.press-slider .date {margin-top: 10px;}

/*  POSTS-ARCHIVE 
------------------------------------------------- */
.posts-archive h2 {
    margin: 60px 0 30px 0;
}

.posts-archive .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px 30px;
}

.posts-archive .item .image {position: relative;}
.posts-archive .item .image:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    background: #0080c8;
    opacity: 0;
    transition: 0.3s ease;
}

.posts-archive .item:hover .image:before {opacity: 0.2;}

.posts-archive .image {
    border-radius: 16px;
    overflow: hidden;
}

.posts-archive .image img {
    display: block;
    width: 100%;
}

.posts-archive .post-title {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.3;
    color: #17191a;
    transition: 0.3s ease;
}
.posts-archive .item:hover .post-title {color: #0080c8;}

.posts-archive .date {margin-top: 8px;}

.posts-archive .post-wrap {
    grid-template-columns: repeat(3,1fr);
    grid-template-areas: "media media content";
    grid-gap: 0 30px;
    margin: 40px 0;
}

.posts-archive .post-wrap .images {
    grid-area: media;
}

.posts-archive .post-wrap .content {
    grid-area: content;
}

.posts-archive .wrap-btn {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.posts-archive .btn-more {
    font-weight: 600;
}


/*  ABOUTH-INFO 
------------------------------------------------- */
.abouth-info {
    position: relative;
    margin-top: 100px;
    padding: 60px 0;
    background: #17191a;
}

.abouth-info:after {
    content: '';
    display: block;
    width: 80px;
    height: 80px;
    background: url(../img/icon-circle.svg) no-repeat center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: -40px;
}

.abouth-info .text {
    font-size: 18px;
    line-height: 1.44;
    color: #d7dadb;
}

.abouth-info .text span {
    color: #007aff;
}

/*  NEWSLETTER 
------------------------------------------------- */
.newsletter {
    padding: 60px 0;
    background: url(../img/newsletter-bg.svg) no-repeat;
    background-position: 50% 50%;
    background-size: 1440px 482px;
}

.newsletter h2 {
    text-align: center;
    margin-bottom: 40px;
}

.newsletter .wrap {
    display: grid;
    align-items: center;
    grid-template-columns: 337px auto;
    grid-gap: 0 40px;
    max-width: 875px;
    margin: 0 auto;
}

.form-newsletter {
    display: flex;
}

.form-newsletter input[type="email"] {
    min-width: 225px;
    padding: 16px 20px;
    border-radius: 8px 0 0 8px;
    border: 1px solid #e7e8e8;
    font-size: 16px;
    color: #879399;
    box-shadow: none;
}

.form-newsletter input[type="email"]:focus {
    border-color: #101010;
}

.form-newsletter input[type="email"]::placeholder {
    font-family: 'TT Hoves', sans-serif;
    font-weight: 400;
    color: #879399;
}

.newsletter input[type="submit"] {
    background: #0080c8;
    padding: 16px 20px;
    border-radius: 0 8px 8px 0;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.newsletter input[type="submit"]:hover {
    background: #0098ed;
}

.newsletter .description {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}

/*  FOOTER 
------------------------------------------------- */
.footer {
    padding: 40px 0;
    background: #0080c8;
}

.footer .center {
    max-width: 1000px;
}

.footer .wrap {
    display: flex;
    justify-content: space-between;
}

.footer h3 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: -.2px;
    color: #fff;
}

.footer .column ul li + li {
    margin-top: 15px;
}

.footer .column ul li a {
    font-size: 16px;
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #3399d3;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: 0.3s ease;

}

.footer .column ul li a:hover {
    text-decoration-color: #fff;
}

.footer .social a {
    position: relative;
    text-decoration: none!important;
    display: flex;
    align-items: center;
}
.footer .social a:before {
    content: '';
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: cover;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

.footer .social a:hover:before {
    border-color: #fff;
}

a.ic-fb:before {background-image: url(../img/ic-fb.png);}
a.ic-tw:before {background-image: url(../img/ic-tw.png);}
a.ic-link:before {background-image: url(../img/ic-link.png);}
a.ic-tg:before {background-image: url(../img/ic-tg.png);}
a.ic-inst:before {background-image: url(../img/ic-inst.png);}
a.ic-rss:before {background-image: url(../img/ic-rss.png);}

/*************************
*******PAGE-ARTICLE******
**************************/
.article {padding: 40px 0;}

.article .box {
    margin: 20px 0;
    display: flex;
    align-items: center;
}

.article .box .date {
    font-size: 10px;
}

.article .box .link-post {
    font-size: 10px;
    font-weight: 600;
    color: #0080c8;
    margin: 0 20px 0 3px;
}

.article .box .link {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 8px;
    border-radius: 9px;
    background-color: #f0f3f5;
    font-size: 8px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: .2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #879399;
}

.article .box .link:hover {
    color: #fff;
    background-color: #0080c8;
}

.article .image {
    border-radius: 16px;
    overflow: hidden;
}

.article .bottom p {
    position: relative;
    top: 10px;
}

.article .bottom a {color: #0080c8;}

.article .share {
    display: flex;
    align-items: center;
}

.article .share-links {
    display: flex;
    grid-gap: 0 10px;
    margin-left: 20px;
}

.article .share-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid #777;
}
.article .share-links a:hover {border-color: #0080c8;}
.article .share-links a:hover:before {opacity: 0.7;}

.article .share-links a:before {
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    background-size: 30px;
    border-radius: 50%;
    border: 1px solid transparent;
    transition: 0.3s ease;
}

.article .bottom {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-gap: 0 60px;
    margin-top: 40px;
}

/*  ARTICLE-CONTENT 
------------------------------------------------- */
.article-content .center {
    display: grid;
    grid-template-columns: auto 300px;
    grid-gap: 0 60px;
}

.article-content .posts-archive {
    display: grid;
    grid-gap: 30px 0;
}

.article-content .sidebar {
    position: sticky;
    top: 100px;
    align-self: flex-start;
}

.sidebar .tabs-nav {
    margin-bottom: 20px;
}

.sidebar .tab-btn {
    font-size: 16px;
    padding-bottom: 7px;
}

.sidebar .tabs-nav .tab-btn:after {height: 2px;}

.article-content .content .image {margin-bottom: 40px;}

.article-content .text {margin-bottom: 30px;}

.article-text {
    font-size: 21px;
    line-height: 1.57;
    color: #444a4d;
}

.article-text a {
    color: #0080c8;
}

.article-content h2 {margin: 40px 0 20px 0;}


.article-content .list {margin: 40px 0;}
.article-content .list li {
    position: relative;
    padding-left: 45px;
}

.article-content .list li + li {margin-top: 10px;}

.article-content .list li:before {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border: 1px solid #0080c8;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 10px;
}

.article-content .bold {
    font-weight: bold;
    margin-bottom: 30px;
}

.channels-links li span,
.channels-links li a {
    font-size: 21px;
    line-height: 1.57;
    color: #444a4d;
}

.channels-links li a {
    color: #0080c8;
    text-decoration: underline;
    text-decoration-color: rgb(0, 128, 200, 0.2);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: 0.3s ease;
}

.channels-links li a:hover {
    text-decoration-color: rgb(0, 128, 200, 1);
}

/*  GUEST-POST 
------------------------------------------------- */
.guest-post {
    margin-top: 40px;
}

.guest-post .wrap {
    display: grid;
    gap: 0 30px;
    grid-template-columns: 180px auto;
    box-shadow: 0 20px 50px -20px rgb(0 16 26 / 10%);
    border-radius: 16px;
    padding: 30px;
}

.guest-post .image {
    padding: 21px;
    width: 180px;
    height: 180px;
    background-image: url(../img/ic-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fff;
}

.guest-post .image img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.guest-text .link {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -.09px;
    color: #444a4d;
    text-decoration: underline;
    text-decoration-color: rgb(0, 128, 200, 0.2);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    transition: 0.3s ease;
}

.guest-text .link:hover {
    text-decoration-color: rgb(0, 128, 200, 1);
}

.guest-text p {
    font-size: 14px;
    line-height: 1.14;
    color: #879399;
}

.guest-text p:nth-child(2) {
    margin-bottom: 6px;
}

.page-article .posts-archive.bottom {
    margin-top: 80px;
    padding: 40px 0;
    background: #f0f3f5;
}

.page-article .posts-archive .wrap-btn {margin-top: 40px;}
.page-article .posts-archive .btn-more {
    font-size: 16px;
    padding: 15px 18px;
}

























/* ---------------------------------------------- */
/*               MEDIA QUERI                      */
/* ---------------------------------------------- */

@media screen and (max-width: 0px) {
    
}