.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block;margin-left:auto;margin-right:auto}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border: none;
    text-decoration: none;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html, body {height: 100%;}

body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    color: #4A4A4A;
}   

p sup {font-size: 10px;}
p + p {margin-top: 15px;}

img {
    max-width: 100%;
    height: auto;
}

.flex {display: flex;}
.flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.align-start {
    display: flex;
    align-items: flex-start;
}
.align-end {
    display: flex;
    align-items: flex-end;
}
.align-center {
    display: flex;
    align-items: center;
}
.flex-b {
    display: flex;
    justify-content: space-between;
}
.flex-a {
    display: flex;
    justify-content: space-around;
}

.center {
	width: 100%;
	max-width: 982px;
	margin: 0 auto;
	padding: 0 15px;
}

/* BTN */
.btn-white {
	color: #155F98;
	display: inline-block;
	padding: 15px 24px;
	font-weight: bold;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	transition: all 0.3s ease;
}
.btn-white:hover {
	background: #29afa0;
	color: #fff;
}

.btn-green {
	color: #fff;
	display: inline-block;
	padding: 15px 24px;
	font-weight: bold;
	background: #29AFA0;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	transition: all 0.3s ease;
}
.btn-green:hover {
	background: #C81765;
	color: #fff;
}

.btn-red {
	color: #fff;
	display: inline-block;
	padding: 15px 24px;
	font-weight: bold;
	background: #C81765;
	border-radius: 10px;
	text-align: center;
	font-size: 14px;
	transition: all 0.3s ease;
}
.btn-red:hover {
	color: #fff;
	background: #29afa0;
}

.btn-more {
	color: #fff;
	display: inline-block;
	padding: 12px 26px;
	font-weight: bold;
	background: #29AFA0;
	border-radius: 3px;
	text-align: center;
	line-height: 14px;
	font-weight: normal;
	transition: all 0.3s ease;
}
.btn-more:hover {
	background: #ce1a71;
	color: #fff;
}

.btn-back {
	width: 105px;
    height: 32px;
    color: #fff;
    display: inline-block;
    padding: 0 5px 0 14px;
    line-height: 32px;
    background: #29AFA0;
    border-radius: 7px;
    font-weight: normal;
    transition: all 0.3s ease;
    margin-bottom: 60px;
}
.btn-back svg {margin-right: 10px;}
.btn-back:hover {
	color: #fff;
	background: #c81765;
}

/* ICON */
.svg-icon {
	height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: -999999;
}

/* POPUP */
.popup-overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -99991;
	background: rgba(255,255,255,.87);
	opacity: 0;
	transition: opacity 1s ease;
}
.popup-overlay.active {
	opacity: 1;
	z-index: 99991;
}
.popup {
	position: absolute;
	top: 0;
	left: 50%;
	z-index: -99992;
	transform: translateX(-50%);
	transition: opacity 1s ease;
	opacity: 0;
}
.popup.active {
	opacity: 1;
	z-index: 99992;
}
.popup-close {
	position: absolute;
	right: 0;
	bottom: 100%;
	margin-bottom: 16px;
	transition: all 0.3s ease;
}
.popup-close:hover {opacity: 0.8;}

/* PARAGRAF */
.main-title {
	min-height: 195px;
	font-size: 45px;
	border-bottom: 10px solid #29AFA0;
}
.main-title h1 {
	font-size: 45px;
	line-height: 87px;
	font-weight: normal;
	color: #fff;
}
.main-title h1 sup {
	font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
    position: relative;
    top: -10px;
}

.text-left {text-align: left;}
.text-right {text-align: right;}
.text-center {text-align: center;}

.c-gray {color: #4A4A4A !important;}
.c-red {color: #C81765 !important;}
.c-blue {color: #29AFA0 !important;}

.tx-small {
	font-size: 18px;
	line-height: 30px;
}
.tx-light {font-weight: 300;}
.tx-bold {font-weight: bold;}
.tx-semibold {font-weight: 600;}
.tx-lh30 {line-height: 30px;}

.mt18 {margin-top: 18px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt35 {margin-top: 35px;}
.mt45 {margin-top: 45px;}
.mt40 {margin-top: 40px;}
.mt50 {margin-top: 50px;}
.mt60 {margin-top: 60px;} 
.mt66 {margin-top: 66px;} 
.mt70 {margin-top: 70px;} 
.mt85 {margin-top: 85px;}
.mt96 {margin-top: 96px;}
.mt120 {margin-top: 120px;}
.mb35 {margin-bottom: 35px;} 
.mb66 {margin-bottom: 66px;} 
.mb96 {margin-bottom: 96px;}

.mtnot {margin-top: 0 !important;}
.mbnot {margin-bottom: 0 !important;}

.br13 {border-radius: 13px;}

h2.title {
	font-size: 31px;
	line-height: 40px;
	color: #29AFA0;
	margin-top: 15px;
	margin-bottom: 15px;
}
h3.title {
	font-size: 32px;
	font-weight: normal;
	line-height: 45px;
	color: #C81765;
}
h4.title {
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #4A4A4A;
}

.w100 {
	width: 100% !important;
	max-width: 100% !important;
}

.line-border {
	height: 1px;
	width: 100%;
	background: #DBDBDB;
}

.d-none {display: none;}

/* FORM */
.form-style input[name="name"],
.form-style input[name="email"],
.form-style textarea {
	display: block;
	width: 100%;
	height: 58px;
	border-radius: 10px;
	border: 3px solid #E0E0E0;
	padding-right: 18px;
	padding-left: 18px;
	font-size: 16px;
	line-height: 25px;
	color: #4A4A4A;
}
.form-style input + input {margin-top: 16px;}
.form-style textarea {margin-top: 16px;}
.form-style textarea {
	padding-top: 16px;
	min-height: 293px;
	resize: none;
}
.form-style input[type="submit"] {
	width: 135px;
	height: 29px;
	background: #29AFA0;
	border-radius: 23px;
	font-weight: bold;
	color: #fff;
	font-size: 16px;
	margin-top: 38px;
	transition: all 0.3s ease;
	cursor: pointer;
}
.form-style input[type="submit"]:hover {
	opacity: 0.8;
}

.check-container input {display: none;}
.check-container .check {
	width: 12px;
	height: 12px;
	border: 1px solid #29AFA0;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	margin-right: 45px;
}
.check-container input:checked + .check:after {
	content: '';
	display: block;
	position: absolute;
	top: 1px;
	right: 1px;
	left: 1px;
	bottom: 1px;
	border-radius: 50%;
	background: #29AFA0;
}
.check-container .check-text {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}

/* 
01 HEADER ------------------------------------ */

.header {
	min-height: 83px;
	background: #fff;
}
.header .logo img {margin-right: 28px;}

.header nav > ul > li + li {margin-left: 31px;}
.header nav > ul > li {position: relative;}
.header nav ul.dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	opacity: 0;
	background: rgba(41,175,160, 0.9);
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
	border-radius: 10px;
	padding: 13px 21px;
	width: 215px;
	transition: all 0.3s ease;
	margin-top: 16px;
	margin-left: -20px;
	z-index: 9999;
}
.header nav ul.dropdown ul {margin-left: 23px;}
.header nav ul.dropdown li {line-height: 16px;}
.header nav ul.dropdown li + li {margin-top: 10px;}
.header nav ul.dropdown a {
	color: #fff;
	font-size: 14px;
}
.header nav ul.dropdown a:hover {text-decoration: underline;}
.header nav > ul > li > a {
	font-size: 14px;
	color: #035798;
	padding: 25px 0;
}
.header nav > ul > li > a:hover {color: #29AFA0;}
.header nav > ul > li:hover ul.dropdown {opacity: 1;}

/* 
02 HOME ------------------------------------ */

@keyframes background {
	0% {background: #000;}
	100% {background: transparent;}
}

.home {
	min-height: 612px;
	background: url(../img/bg-home.jpg) no-repeat right top;
	background-size: cover;
	border-bottom: 10px solid #29AFA0;
}

.home .center {
	position: relative;
	z-index: 2;
}

.home h1 {
	font-weight: bold;
	font-size: 33px;
	line-height: 48px;
	color: #fff;
	margin-bottom: 44px;
	position: relative;
	opacity: 0;
	animation: text-show 1s 1s forwards;
}
.home h1 span {color: #29AFA0;}

.home .btn-white {
	position: relative;
	opacity: 0;
	animation: text-show 1s 1.5s forwards;
}

@keyframes text-show {
	0% {
		top: 100px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

/* 
03 MAIN ------------------------------------ */

.main-page {padding: 66px 0;}

/* CONTENT */
.content {
	padding-right: 66px;
	max-width: 725px;
}
.content h3 {
	font-size: 24px;
	line-height: 30px;
	color: #C81765;
}
.content h3 sup {font-size: 14px;}
.content h4 sup {font-size: 13px;}
.content h5 {
	font-size: 22px;
	line-height: 30px;
	color: #4A4A4A;
	margin-bottom: 60px;
}
.content h6 {
	line-height: 30px;
	font-size: 16px;
	font-weight: 600;
}
.content h6 sup {font-size: 10px;}
.content > p {
	margin-top: 0;
	margin-bottom: 25px;
}
.content .box-image {
	border-radius: 10px;
	overflow: hidden;
	display: flex;
}
.content .box {
	padding: 26px 23px;	
	border-radius: 10px;
}
.content .box h3 {
	font-size: 20px;
	line-height: 24px;
}
.content .box p {
	font-size: 16px;
	line-height: 19px;
}
.content .box.green {background: #29AFA0;}
.content .box.green h3 {color: #fff;}
.content .box.green p {color: #fff;}
.content .box.gray {background: #ECECEC;}
.content .box.gray h4 {
	font-size: 47px;
	line-height: 57px;
	color: #29AFA0;
}
.content .box.gray p {
	font-size: 16px;
	line-height: 19px;
	color: #29AFA0;
}
.content .box-list {margin-top: 6px;}
.content .box-list .box {
	width: 33.33%;
	margin-right: 6px;
}
.content .box-list .box:last-child {margin-right: 0;}

.title-icon {
	display: flex;
	align-items: center;
	font-weight: normal;
	font-size: 32px;
	line-height: 30px;
	color: #C81765;
}
.title-icon span sup {font-size: 15px;}
.title-icon svg {margin-right: 38px;}

.content .text-circle {
	position: relative;
	padding-top: 45px;
	padding-bottom: 20px;
}
.content .text-circle .inner {
	height: 10px;
	border-radius: 10px;
	background: #29AFA0;
	position: relative;
}
.content .text-circle .inner .circle {
	position: absolute;
	left: 135px;
	top: 50%;
	width: 47px;
	height: 47px;
	margin-top: -23.5px;
	background: #fff;
	border-radius: 50%;
	border: 5px solid #29AFA0;
}
.content .text-circle .inner .circle span {
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
	font-size: 18px;
	line-height: 22px;
	color: #29AFA0;
	margin-bottom: 10px;
}

.content .content-icons .item {width: 33.33%;}
.content .content-icons .item .icon {min-height: 85px;}

.content .ul-list li {
	position: relative;
	padding-left: 45px;
}
.content .ul-list li:before {
	content: '';
	display: block;
	position: absolute;
	top: 15px;
	left: 0;
	width: 2px;
	height: 2px;
	background: #4A4A4A;
}
.content .ul-list.cross li:before {display: none;}
.content .ul-list.cross li:after {
	content: 'x';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	font-weight: bold;
	font-size: 16px;
	color: #FF0000;
}

/* SIDEBAR */
.sidebar {
	min-width: 225px;
	max-width: 225px;
}
.sidebar .box-green {
	border-radius: 10px;
	background: #29AFA0;
	padding: 16px 13px;
	color: #fff;
	margin-bottom: 25px;
}
.sidebar .box-green h4 {
	font-size: 16px;
	line-height: 32px;
	border-bottom: 1px solid #fff;
	margin-bottom: 15px;
}
.sidebar .box-green p,
.sidebar .box-green a {
	font-size: 16px;
	line-height: 32px;
	font-weight: 300;
	display: block;
	color: #fff;
	border-bottom: 1px solid transparent;
}
.sidebar .box-green a:hover {opacity: 0.5;}
.sidebar .box-green a.active {
	font-weight: bold;
    line-height: 32px;
    margin-top: -4px;
    border-bottom: 1px solid #fff;
}
.sidebar .box-green a:focus {text-decoration: underline;}

.sidebar .card-image {
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	cursor: pointer;
	display: block;
	line-height: 0;
}
.sidebar .card-image:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.3);
	transition: all 0.3s ease;
	opacity: 0;
	z-index: 10;
}
.sidebar .card-image:hover:after {opacity: 1;} 
.sidebar .card-image + .card-image {margin-top: 7px;}
.sidebar .card-image img {
	width: 100%;
	object-fit: cover;
}
.sidebar .card-image h3 {
	position: absolute;
	left: 24px;
	right: 0;
	bottom: 15px;
	z-index: 2;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.sidebar .card-image a {
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}
.sidebar .card-image a:hover {text-decoration: underline;}

/* MAIN LINKS */
.main-links {
	margin-top: -40px;
	position: relative;
	z-index: 3;
}
.main-links .item {
	background: #fff;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
	border-radius: 10px;
	overflow: hidden;
	width: 20%;
	position: relative;
	top: 100px;
	opacity: 0;
	transition: all .2s, transform .2s;
}
.main-links .item:hover {
	transform: scale(1.02);
	box-shadow: 0 1px 10px rgba(0,0,0,.16);
}
.main-links .item .thumb {
	height: 112px;
	display: flex;
}
.main-links .item .thumb img {
	width: 100%;
	object-fit: cover;
}
.main-links .item + .item {margin-left: 14px;}
.main-links .item div.text-center {padding: 40px 10px 38px 10px;}
.main-links .item p.title {
	font-weight: bold;
	line-height: 16px;
	color: #C81765;
}
.main-links .item:hover p.title {text-decoration: underline;}

.main-links .item.anim:first-child {animation: top 0.5s forwards;}
.main-links .item.anim:nth-child(2) {animation: top 0.5s 0.5s forwards;}
.main-links .item.anim:nth-child(3) {animation: top 0.5s 1s forwards;}
.main-links .item.anim:nth-child(4) {animation: top 0.5s 1.5s forwards;}
.main-links .item.anim:nth-child(5) {animation: top 0.5s 2s forwards;}

@keyframes top {
	0% {
		top: 150px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

/* MAIN DESCR */
.main-descr {padding: 85px 0;}
.main-descr .text-small {padding-right: 50px;}
.main-descr .text-small,
.main-descr .text-big {
	position: relative;
	opacity: 0;
}
.main-descr .text-small.anim {
	animation: text-show 1s 0.5s forwards;
}
.main-descr .text-big.anim {
	animation: text-show 1s 0.5s forwards;
}

@keyframes left {
	0% {
		left: -300px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes right {
	0% {
		right: -300px;
		opacity: 0;
	}
	100% {
		right: 0;
		opacity: 1;
	}
}

.main-descr .text-big {
	color: #29AFA0;
	font-size: 25px;
	line-height: 30px;
	max-width: 347px;
}

/* MAIN STORIES */
.main-stories {padding-bottom: 250px;}
.main-stories .item {
	min-height: 403px;
	padding: 30px 64px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    overflow: hidden;
}
.main-stories .item:first-child {
	background: url(../img/stories-1.jpg) no-repeat right top;
	background-size: cover;
	margin-bottom: 50px;
}
.main-stories .item:last-child {
	background: url(../img/stories-2.jpg) no-repeat right top;
	background-size: cover;
}
.main-stories .item h2 {
	font-size: 32px;
	line-height: 39px;
	font-weight: normal;
	margin-bottom: 12px;
	color: #fff;
	position: relative;
	opacity: 0;
}
.main-stories .item h2.anim {animation: anTop 2s forwards}
.main-stories .item p {
	font-weight: 300;
	font-size: 22px;
	line-height: 27px;
	color: #fff;
	margin-bottom: 8px;
	max-width: 353px;
	position: relative;
	opacity: 0;
}
.main-stories .item p.anim {animation: anLeft 1s forwards}
.main-stories .item a {
	position: relative;
	opacity: 0;
}
.main-stories .item a.anim {animation: anBottom 2s forwards}

@keyframes anTop {
	0% {
		top: -100px;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes anLeft {
	0% {
		left: -100px;
		opacity: 0;
	}
	100% {
		left: 0;
		opacity: 1;
	}
}

@keyframes anBottom {
	0% {
		bottom: -100px;
		opacity: 0;
	}
	100% {
		bottom: 0;
		opacity: 1;
	}
}

/* 
04 REFERENCE ------------------------------------ */

.reference {
	padding: 40px 0;
	background: #F9F9F9;
	font-size: 12px;
	line-height: 25px;
	color: #AFAFAF;
}

/* 
POPUP VIDEO ------------------------------------ */

.popup-video {
	min-width: 850px;
}
.popup-video iframe {
	width: 100%;
	height: 475px;
}

/* 
05 CARDS ------------------------------------ */
.form-quiz.preloader {position: relative;}
.form-quiz.preloader:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(255,255,255,.8);
}

.cards {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	display: none;
}
.cards .card-item {
	width: 30.3%;
    margin-right: 3%;
    margin-bottom: 20px;
    box-shadow: 0 6px 26px rgba(0,0,0,.16);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    display: none;
    transition: opacity 0.5s ease;
}
.cards .card-item.active {opacity: 1;}
.cards .card-item .thumb {
	height: 100px;
	display: flex;
}
.cards .card-item .thumb img {
	width: 100%;
	object-fit: cover;
}
.cards .card-item .wrap {
    padding: 15px 10px 30px 10px;
}
.cards .card-item h6 {
    line-height: 20px;
    font-weight: bold;
    color: #C81765;
}
.cards .card-item p {
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: #3B4E4C;
	margin-top: 34px;
}

.cards .card-item.download {
	box-shadow: none;
	background: #C81765;
	padding: 59px 13px;
	display: flex;
	flex-direction: column;
	min-width: 30.3%;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.cards .card-item.download.active {opacity: 1;}
.cards .card-item.download h6 {
	font-weight: 500;
	font-size: 22px;
	line-height: 30px;
	color: #fff;
	margin-top: auto;
	margin-bottom: auto;
}
.cards .card-item.download a {
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	background: #fff;
	padding: 10px;
	text-align: center;
	color: #C81765;
	border-radius: 10px;
	margin-top: 20px;
}

/* 
06 FOOTER ------------------------------------ */

.footer {
	background: #053558;
	padding: 70px 0 40px 0;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	font-weight: 300;
}
.footer a {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
}
.footer a:hover {text-decoration: underline;}
.footer-item {min-width: 240px;}
.footer-item:last-child {
	margin-left: auto;
	max-width: 362px;
}

.footer-logo {
	margin-top: 15px;
}
.footer-logo h3 {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 15px;
}

/* 
06 ABOUT US ------------------------------------ */

.page-about .main-title {
	background: url(../img/title-about.jpg) no-repeat center;
	background-size: cover;
}

/* 
07 TREATMENT ------------------------------------ */

.page-treatment .main-title {
	background: url(../img/title-treatment.jpg) no-repeat center;
	background-size: cover;
}

.page-treatment .list-icons {
	display: flex;
	justify-content: space-between;
	margin-top: 54px;
}
.page-treatment .list-icons .item {
	text-align: center;
	cursor: pointer;
}
.page-treatment .list-icons a.item {
	display: block;
	text-align: center;
	color: #4A4A4A;
}
.page-treatment .list-icons .item svg {
	fill: #29afa0;
	transition: all 0.3s ease;
}
.page-treatment .list-icons .item:hover svg {
	fill: #149082;
}
.page-treatment .list-icons .item:nth-child(4) svg,
.page-treatment .list-icons .item:nth-child(5) svg {
	fill: #29afa0;
	stroke: #29afa0;
}
.page-treatment .list-icons .item:nth-child(4):hover svg,
.page-treatment .list-icons .item:nth-child(5):hover svg {
	fill: #149082;
	stroke: #149082;
}
.page-treatment .list-icons .item .thumb {min-height: 100px;}
.page-treatment .list-icons .item p {
	font-size: 18px;
	line-height: 22px;
}

/* BOX CARD */
.box-card {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 87px;
}
.item-card {
	width: 48.2%;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
	overflow: hidden;
	margin-bottom: 27px;
	position: relative;
	padding-bottom: 63px;
}
.item-card .thumb {
	min-height: 135px;
	display: flex;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
}
.item-card .thumb img {
	width: 100%;
	object-fit: cover;
}
.item-card .inner {padding: 24px 24px 15px 24px;}
.item-card h3 {
	font-size: 24px;
	line-height: 30px;
	display: flex;
	align-items: center;
}
.item-card h3 svg {margin-right: 15px;}
.item-card p {
	font-weight: 300;
	line-height: 30px;
}
.item-card .btn-more {
	position: absolute;
	left: 24;
	bottom: 24px;
}

/* 
08 TREATMENT SURGERY ------------------------------------ */

.page-surgery .main-title {
	background: url(../img/title-surgery.jpg) no-repeat center;
	background-size: cover;
}

.page-surgery .types {
	margin-top: 50px;
}
.page-surgery .types h5 {margin-bottom: 30px;}
.page-surgery .types .item + .item {margin-top: 40px;}
.page-surgery .types .item .thumb {
	min-width: 95px;
	margin-right: 22px;
}
.page-surgery .types .item p {
	font-weight: 300;
	line-height: 30px;
}

/* 
09 TREATMENT CHEMOTHERAPY ------------------------------------ */

.page-chemotherapy .main-title {
	background: url(../img/title-chemotherapy.jpg) no-repeat center;
	background-size: cover;
}

/* 
10 TREATMENT RADIOTHERAPY ------------------------------------ */

.page-radiotherapy .main-title {
	background: url(../img/title-radiotherapy.jpg) no-repeat center;
	background-size: cover;
}

/* 
11 TREATMENT TARGETEDTHERAPY ------------------------------------ */

.page-targetedtherapy .main-title {
	background: url(../img/title-targetedtherapy.jpg) no-repeat center;
	background-size: cover;
}

/* 
12 TREATMENT OTHERTHERAPY ------------------------------------ */

.page-othertherapy .main-title {
	background: url(../img/title-othertherapy.jpg) no-repeat center;
	background-size: cover;
}

/* 
13 TREATMENT IMMUNOTHERAPY ------------------------------------ */

.page-immunotherapy .main-title {
	background: url(../img/title-immunotherapy.jpg) no-repeat center;
	background-size: cover;
}

/* 
14 TREATMENT COMPLICATIONS ------------------------------------ */

.page-complications .main-title {
	background: url(../img/title-complications.jpg) no-repeat center;
	background-size: cover;
}

.box-hidconent {
	padding: 24px 35px;
	border-radius: 10px;
	border: 3px solid #29AFA0;
}
.box-hidconent + .box-hidconent {margin-top: 10px !important;}
.box-hidconent .js-hidden {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.box-hidconent .js-hidden svg {
	transform: rotate(180deg);
	min-width: 18px;
	transition: transform 0.3s ease;
}
.box-hidconent .js-hidden p {
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
}
.box-hidconent .js-hidden p sup {font-size: 10px;}

.hidden-content .hidden {
	max-height: 0px;
	overflow: hidden;
	transition: all 0.5s ease;
}
.hidden-content.active .hidden {
	max-height: 1000px;
}

.hidden-content.active .js-hidden svg {
	transform: none;
	min-width: 18px;
}

.plashka-thumb {
	overflow: hidden;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
}
.plashka-thumb .text-center {
	padding: 50px;
}
.plashka-thumb .text-center h3 {
	font-size: 32px;
	line-height: 30px;
	margin-bottom: 19px;
}

/* 
15 RESOURCES ------------------------------------ */

.page-resources .main-title {
	background: url(../img/title-resources.jpg) no-repeat center;
	background-size: cover;
}

.grid {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.item-grid {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.inner-grid {width: 48.8%;}
.inner-grid.flex {flex-wrap: wrap;}

.inner-grid:first-child {
	background: #fff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
	margin-bottom: 19px;
}
.inner-grid:first-child .thumb {
	height: 202px;
	display: flex;
}
.inner-grid:first-child .thumb img {
	width: 100%;
	object-fit: cover;
}
.inner-grid:first-child > div:last-child {
	padding: 47px 40px;
	text-align: center;
}
.inner-grid:first-child h3 {
	font-size: 22px;
	line-height: 20px;
	color: #C81765;
}

.inner-grid:first-child p {
	line-height: 20px;
	font-weight: 300;
	margin-bottom: 30px;
}
.inner-grid:first-child a {
	width: 135px;
	height: 29px;
	text-align: center;
	border-radius: 23px;
	background: #29AFA0;
	line-height: 29px;
	font-weight: bold;
	color: #fff;
	display: inline-block;
	transition: all 0.3s ease;
}
.inner-grid:first-child a:hover {
	background: #c81765;
	color: #fff;
}

.inner-grid .item {display: block;}
.inner-grid .item:nth-child(1),
.inner-grid .item:nth-child(2) {width: 47.8%;}
.inner-grid .item:nth-child(1) {margin-right: 4.3%;}
.inner-grid.flex .item:nth-child(2) {margin-right: 0;}
.inner-grid .item:nth-child(3) {width: 100%;}

.grid .item {
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
	text-align: center;
	margin-bottom: 19px;
	margin-right: 2.5%;
	transition: all 0.3s ease;
}
.grid a.item:hover {
	transform: scale(1.02);
	box-shadow: 0 1px 10px rgba(0,0,0,.16);
}
.grid .item:last-child {margin-right: 0;}
.grid .item .thumb {
	height: 112px;
	display: flex;
}
.grid .item .thumb img {
	width: 100%;
	object-fit: cover;
}
.grid .item > div:last-child {
	padding: 20px;
}
.grid .item .title {
	font-size: 16px;
	line-height: 20px;
	font-weight: bold;
	color: #C81765;
}

.item-grid:last-child .item:first-child {
	width: 50%;
}
.item-grid:last-child .item {margin-right: 2.45%;}
.item-grid:last-child .item:last-child {margin-right: 0;}

/* 
16 RESOURCES STORIES ------------------------------------ */

.page-stories .main-title {
	background: url(../img/title-stories.jpg) no-repeat center;
	background-size: cover;
}

.slider {
	margin-top: 35px;
	position: relative;
}
.slider > .center {
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 25px;
    margin-top: -12.5px;
}
.slider .slick-slide {
	min-height: 400px;
	background-size: cover;
	background-repeat: no-repeat;	
	display: flex;
	align-items: center;
}
.slider .slick-slide .center {
	padding: 0 67px;
	color: #fff;
	position: relative;
}
.slider .slick-slide h4 {
	font-weight: normal;
	font-size: 32px;
	line-height: 39px;
	margin-bottom: 12px;
}
.slider .slick-slide p {
	font-size: 20px;
	line-height: 27px;
	font-weight: 300;
	max-width: 353px;
}
.slider .slick-slide a {
	display: inline-block;
	padding: 10px 23px;
	border-radius: 13px;
	background: #29AFA0;
	font-weight: bold;
	font-size: 19px;
	color: #fff;
	transition: all 0.3s ease;
	margin-top: 8px;
}
.slider .slick-slide a:hover {
	color: #fff;
	background: #c81765;
}
.slider .slick-arrow {
	position: absolute;
	width: 25px;
	height: 25px;
	background: url(../img/ic-arr.svg) no-repeat center;
	position: absolute;
	top: 50%;
	margin-top: -6px;
	overflow: hidden;
	text-indent: -9999px;
	z-index: 10;
	cursor: pointer;
}
.slider .slick-prev {left: 0;}
.slider .slick-next {right: 0;}
.slider .slick-prev {
	transform: rotate(-180deg);
}

.page-stories .plashka-thumb h3 {
	font-size: 25px;
	margin-bottom: 16px;
}

.page-stories .tile {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 15px;
}
.page-stories .tile-item div {
	display: flex;
	padding: 15px;
}
.page-stories .tile-item img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
}
.page-stories .tile-item:nth-child(1),
.page-stories .tile-item:nth-child(2),
.page-stories .tile-item:nth-child(3),
.page-stories .tile-item:nth-child(4) {
	width: 25%;
}
.page-stories .tile-item:nth-child(5) {
	width: 50%;
}
.page-stories .tile-item:nth-child(6),
.page-stories .tile-item:nth-child(7) {
	width: 25%;
}
.page-stories .tile-item:nth-child(8),
.page-stories .tile-item:nth-child(9),
.page-stories .tile-item:nth-child(10),
.page-stories .tile-item:nth-child(11) {
	width: 25%;
}

/* 
17 RESOURCES STORIES ------------------------------------ */

.page-storiesfull .main-title {
	background: url(../img/title-stories.jpg) no-repeat center;
	background-size: cover;
}

.box-text {
	border-radius: 10px;
	overflow: hidden;
	background: url(../img/chinese.jpg) no-repeat;
	background-size: cover;
	padding: 27px 38px;
}
.box-text p {
	font-weight: 300;
	font-size: 17px;
	line-height: 20px;
	color: #fff;
	max-width: 277px;
}

.item-img {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 6px 26px rgba(0,0,0,.16);
	display: flex;
	max-width: 315px;
}
.item-img img {
	width: 100%;
	object-fit: cover;
}

/* 
18 RESOURCES STORIES FORM ------------------------------------ */

.page-storiesform .main-title {
	background: url(../img/title-stories.jpg) no-repeat center;
	background-size: cover;
}

.page-storiesform form {
	max-width: 695px;
	margin: 0 auto;
}

/* 
19 RESOURCES PLAN ------------------------------------ */

.page-plan .main-title {
	background: url(../img/title-plan.jpg) no-repeat center;
	background-size: cover;
}

.page-plan .check-container {display: block;}
.page-plan .group-input + .group-input {margin-top: 50px;}
.page-plan .group-input h6 {
	color: #707070;
	font-size: 20px;
	line-height: 23px;
	margin-bottom: 20px;
}
.page-plan form input[type="submit"] {margin-top: 15px;}

/* 
20 RESOURCES RESULTS ------------------------------------ */

.page-results .main-title {
	background: url(../img/title-plan.jpg) no-repeat center;
	background-size: cover;
}

.page-results .tile {
	margin-top: 47px;
	display: flex;
	flex-wrap: wrap;
}
.page-results .tile-item {
	width: 31.3%;
    margin-right: 3%;
    margin-bottom: 32px;
    text-align: center;
    box-shadow: 0 6px 26px rgba(0,0,0,.16);
    border-radius: 10px;
    overflow: hidden;
}
.page-results .tile-item p {
	line-height: 20px;
	font-weight: bold;
	color: #C81765;
}
.page-results .tile-item:nth-child(3n) {margin-right: 0;}
.page-results .tile-item .wrap {
	padding: 15px 10px 30px 10px;
}

/* 
21 RESOURCES PHYSICAL ------------------------------------ */

.page-physical .main-title {
	background: url(../img/title-physical.jpg) no-repeat center;
	background-size: cover;
}

/* 
22 RESOURCES EMOCIONAL ------------------------------------ */

.page-emocional .main-title {
	background: url(../img/title-emocional.jpg) no-repeat center;
	background-size: cover;
}

.box-video {
	height: 360px;
	width: 100%;
	background: #E3E3E3;
	text-align: center;
	position: relative;
	padding-top: 69px;
}
.box-video p {
	line-height: 20px;
	font-weight: normal;
}
.box-video button {
	background: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

/* 
23 RESOURCES COMMUNICATION ------------------------------------ */

.page-communication .main-title {
	background: url(../img/title-emocional.jpg) no-repeat center;
	background-size: cover;
}

/* 
24 RESOURCES CAREGOVOMG ------------------------------------ */

.page-caregiving .main-title {
	background: url(../img/title-emocional.jpg) no-repeat center;
	background-size: cover;
}

/* 
24 RESOURCES LINKS ------------------------------------ */

.page-links .main-title {
	background: url(../img/title-links.jpg) no-repeat center;
	background-size: cover;
}

/* 
25 RESOURCES EVENTS ------------------------------------ */

.page-events .main-title {
	background: url(../img/title-emocional.jpg) no-repeat center;
	background-size: cover;
}

/* 
26 COVID ------------------------------------ */

.page-covid .main-title {
	background: url(../img/title-covid.jpg) no-repeat center;
	background-size: cover;
}

/* 
27 ABOUT US ------------------------------------ */

.page-aboutus .main-title {
	background: url(../img/title-aboutus.jpg) no-repeat center;
	background-size: cover;
}

.subscribe {
	border-radius: 10px;
	background: #29AFA0;
	padding: 28px 38px;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}
.subscribe h3 {
	font-size: 24px;
	line-height: 30px;
	color: #fff;
}
.subscribe p {
	line-height: 30px;
	font-weight: 300;
}
.subscribe a {
	display: inline-block;
	width: 180px;
	height: 44px;
	background: #fff;
	border-radius: 10px;
	text-align: center;
	line-height: 44px;
	font-weight: bold;
	font-size: 22px;
	color: #A2ABAA;
	transition: all 0.3s ease;
}
.subscribe a:hover {color: #3B4E4C;}

/* 
28 TERMS ------------------------------------ */

.page-terms .main-title {
	background: url(../img/title-aboutus.jpg) no-repeat center;
	background-size: cover;
}


/* ---------------------------------------------- */
/*               MEDIA QUERI                      */
/* ---------------------------------------------- */

@media screen and (max-width: 991px) {
	/* header */
	.btn-nav {
		width: 30px;
	    height: 25px;
	    background: none;
	    cursor: pointer;
	    display: block;
	}
	.btn-nav span {
		height: 3px;
		width: 100%;
		background: #29afa0;
		display: block;
	}
	.btn-nav span + span {margin-top: 3px;}

	.btn-navclose {
		width: 30px;
		height: 30px;
		position: absolute;
		top: 15px;
		right: 15px;
		background: none;
		cursor: pointer;
		display: block;
	}
	.btn-navclose span {
		height: 3px;
		width: 100%;
		background: #fff;
		display: block;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		margin-top: -1.5px;
		transition: all 0.3s ease;
	}
	.btn-navclose span:first-child {transform: rotate(45deg);}
	.btn-navclose span:last-child {transform: rotate(-45deg);}
	.btn-navclose:hover span {background: #4a4a4a;}

	nav {
		position: fixed;
	    top: 0;
	    right: -250px;
	    bottom: 0;
	    background: #29afa0;
	    width: 250px;
	    transition: all 0.3s ease;
	    z-index: 9999;
	}
	nav.active {right: 0;}
	nav > ul {
		flex-direction: column;
		margin-top: 50px;
	}
	.header nav > ul > li + li {
	    margin-left: 0;
	}
	.header nav > ul > li > a {
		color: #fff;
	    display: block;
	    padding: 10px 20px;
	    font-weight: bold;
	    font-size: 18px;
	    transition: all 0.3s ease;
	}
	.header nav > ul > li > a:hover {color: #4a4a4a;}
	.header nav ul.dropdown {
		position: static;
	    display: block;
	    opacity: 1;
	    margin-top: 0;
	    margin-left: 0;
	    box-shadow: none;
	    background: #fff;
	    border-radius: 0;
	    width: 250px;
	    position: absolute;
	    right: -250px;
	    left: inherit;
	    top: 100%;
	    z-index: 10;
	    transition: all 0.3s ease;
	}
	.header nav ul.dropdown a {color: #565656;}
	.header nav ul.dropdown ul {
	    margin-left: 0;
	}
	.header nav ul.dropdown.active {right: 0;}

	.main-page {overflow: hidden;}
	.main-page .center {flex-direction: column;}
	.content {
		padding-right: 0;
		max-width: 100%;
	}
	.cards {margin-right: -3%;}

	.sidebar {
	    max-width: 100%;
	    min-width: 100%;
	    display: flex;
	    flex-wrap: wrap;
	    justify-content: space-between;
	    margin-top: 20px;
	}
	.sidebar .box-green {width: 100%;}
	.sidebar .card-image {
		width: 31%;
	    height: 160px;
	    display: flex;
	}
	.sidebar .card-image + .card-image {margin-top: 0;}
	.sidebar .card-image img {
		width: 100%;
		object-fit: cover;
	}
	.sidebar .card-image h3 {right: 24px;}
	.sidebar .card-image a {
		font-size: 16px;
		line-height: 20px;
	}

	.popup-video {min-width: 100%;}

	/* footer */
	.footer-item + .footer-item {
		padding-left: 15px;
		min-width: auto;
	}
}

@media screen and (max-width: 768px) {
	.main-title h1 {
		line-height: 40px;
    	font-size: 35px;
	}
	.header .logo img {margin-right: 15px;}
	.logo svg {width: 100px;}

	/* home */
	.home {min-height: 500px;}
	.home h1 {
		font-size: 25px;
		line-height: 30px;
	}

	.main-links {flex-direction: column;}
	.main-links .item {
		width: 100%;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.main-links .item + .item {
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}

	.main-descr {flex-direction: column;}
	.main-descr .text-small {
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.main-descr .text-big {max-width: 100%;}

	.main-stories .item {padding: 20px 30px;}

	.main-stories {padding-bottom: 50px;}

	.item-grid:first-child .inner-grid:first-child h3 {margin-bottom: 15px;}

	/* about */
	.page-aboutus .main-title {
		background-position: right -300px center;
	}

	.content .box-list {flex-direction: column;}
	.content .box-list .box {
	    width: 100%;
	    margin-right: 0;
	    margin-top: 15px;
	}
	.content .content-icons .item {padding: 0 10px;}
	.content .content-icons .item br {display: none;}
	.content .content-icons .item + .item {margin-top: 20px;}

	.sidebar {
		min-width: 100%;
		max-width: 100%;
	}

	.reference .center p {overflow: hidden;}

	.content h3 br {display: none;}

	/*  covid */
	.box-hidconent {
	    padding: 15px 20px;
	    border-radius: 10px;
	    border: 3px solid #29AFA0;
	}

	/* resource */
	.inner-grid {width: 100%;}
	.item-grid {flex-direction: column;}
	.item-grid:last-child .item:first-child {
		width: 100%;
		margin-right: 0;
	}
	.item-grid:last-child .item {margin-right: 0;}

	.page-immunotherapy .main-page .mt35.tx-light.tx-lh30 .flex-b {
		display: block;
		text-align: center;
	}
	.page-treatment .list-icons .item {
	    flex-wrap: wrap;
	    padding: 0 10px;
	}

	.item-card {width: 100%;}
	.page-treatment .list-icons {
		flex-wrap: wrap;
		justify-content: center;
	}
	.page-treatment .list-icons .item {margin-bottom: 15px;}

	.item-img:first-child {margin-right: 10px;}
	.item-img:last-child {margin-left: 10px;}

	/* footer */
	.footer-logo {flex-direction: column;}
	.footer-logo div + div {margin-top: 15px;}
}

@media screen and (max-width: 600px) {
	.main-stories .item:last-child {
		background-position: right -250px top;
	}

	/* about */
	.title-icon svg {
	    margin-right: 15px;
	    width: 30px;
	    min-width: 30px;
	}

	.content .ul-list li {padding-left: 15px;}

	.subscribe {flex-direction: column;}
	.subscribe .descr {
		width: 100%;
    	text-align: center;
    	margin-bottom: 20px;
	}
	.subscribe .descr br {display: none;}

	.page-results .tile-item {width: 100%;}
	.page-results .tile-item .thumb img {
		width: 100%;
	}

	.box-text {padding: 15px 25px;}
	.box-text p {max-width: 100%;}

	.plashka-thumb .text-center {padding: 20px;}

	.slider .slick-slide .center {padding: 0 35px;}
	.slider .slick-slide p {max-width: 100%;}

	.page-stories .tile-item div {padding: 5px;}

	.page-treatment .list-icons {justify-content: center;}
	.page-treatment .list-icons .item {
		padding: 0 15px;
		margin-bottom: 30px;
	}

	.item-card h3 {font-size: 20px;}
	.item-card h3 svg {min-width: 39px;}

	.content-icons {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.content .content-icons .item {
		width: 100%;
		padding: 0 0;
	}

	.cards .card-item {width: 47%;}

	/* footer */
	.footer .center {
		flex-direction: column;
		max-width: 100%;
	}
	.footer-item + .footer-item {
		padding-left: 0;
		margin-top: 20px;
	}
	.footer-item:last-child {max-width: 100%;}
	.footer-logo {flex-direction: column;}
	.footer-logo div + div {margin-top: 15px;}
}

@media screen and (max-width: 500px) {
	.page-treatment .list-icons .item p {font-size: 13px;}
}

@media screen and (max-width: 430px) {
	.sidebar .card-image {
	    width: 100%;
	    height: auto;
	}
	.sidebar .card-image + .card-image {margin-top: 25px;}

	.box-hidconent .btn-red {
		padding: 15px 10px;
		font-size: 11px;
		line-height: 15px;
	}

	.cards {margin-right: 0;}
	.cards .card-item {
		width: 100%;
		margin-right: 0;
	}
}