@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.eot');
    src: local('Gilroy Light'), local('Gilroy-Light'),
        url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.eot');
    src: local('Gilroy Medium'), local('Gilroy-Medium'),
        url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
	font-size: 14px;
	line-height: 20px;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #003485;
	text-decoration: none;
}
a:hover {text-decoration: underline;}

input[type="text"],
input[type="email"],
textarea {
	width: 100%;
	border: 1px solid #e0e0e2;
	border-radius: 5px;
	height: 40px;
	padding: 9px 30px 10px 15px;
	font-size: 16px;
	outline: none;
}

h1.title {
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
	color: #394561;
	margin-bottom: 10px;
}
h2.title {
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
	color: #394561;
	margin-bottom: 10px;
}
h3.title {
	font-weight: 500;
	font-size: 30px;
	color: #394561;
	margin: 20px 0;
}
h4.title {
	font-weight: 400;
	font-size: 21px;
	color: #394561;
	margin: 20px 0;
}

.box {padding: 50px 0;}

.bg-color {background: #f8f9f9;}

#main {padding-bottom: 90px;}

.center {
	width: 100%;
	max-width: 1000px;
	min-width: 280px;
	margin: 0 auto;
	padding: 0 15px;
}

.hidden-desktop {display: none !important;}
.hidden {display: none !important;}

.d-flex	{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.t-center {text-align: center;}

.svg-icon {
  	display: inline-block;
  	vertical-align: middle;
}

.btn {
	display: inline-block;
	vertical-align: middle;
    color: #394561;
    line-height: 30px;
    min-width: 80px;
    text-decoration: none;
    height: 30px;
    border: solid 1px #7f9abf;
    border-radius: 4px;
    text-align: center;
    font-size: 13px;
    background: #fff;
    cursor: pointer;
}
.btn:hover {border: solid 1px #394561;}

.btn-big {
	text-align: center;
	height: 58px;
	line-height: 58px;
    width: 100%;
    max-width: 380px;
    background: #003680;
    padding: 0 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 0 0 #002559;
            box-shadow: 0 3px 0 0 #002559;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.btn-big:hover {
	text-decoration: none;
	background: #004099;
}
.btn-big.orange {
	background: #ff9000;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
.btn-big.orange:hover {background: #f69d38;}

/* Select */
.select {
	position: relative;
	z-index: 999;
	display: inline-block;
}
.select .view {cursor: pointer;}
.select .drop {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0px;
	overflow: hidden;
	-webkit-transition: height 0.2s ease;
	transition: height 0.2s ease;
	margin-top: -3px;
}
.select .drop li {
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	cursor: pointer;
}
.select.active .drop {
	height: auto;
}

/* ------------------------------------------------------------------------------------------ 
	01.	HEADER 
------------------------------------------------------------------------------------------ */

.header {
	background: #f8f9f9;
	padding: 20px 0 0;
	-webkit-box-shadow: 0 2px 10px rgba(0,0,0,.1);
	        box-shadow: 0 2px 10px rgba(0,0,0,.1);
}

.header .logo {min-width: 95px;}

.header-tel {
	margin-right: auto;
	margin-left: 30px;
	font-size: 16px;
}

.header .btn {margin-right: 20px;}

.lang-select .view {margin-right: 0;}
.lang-select .view:after {
	content: '';
	border-right: 3px solid transparent;
	border-left: 3px solid transparent;
	border-top: 5px solid #888;
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.lang-select.active .drop {
	background: #fff;
	border: 1px solid #7f9abf;
	border-radius: 5px;
	margin-top: 2px;
	overflow: hidden;
}
.lang-select.active .drop li {
	padding: 3px 10px;
	text-align: center;
}
.lang-select.active .drop li:hover {background: #f8f9f9;}

.nav {
	background: #fff;
	margin-top: 20px;
	border-top: 1px solid #f1f1f1;
}
.nav ul li + li {margin-left: 20px;}
.nav ul a {
	display: block;
	padding: 25px 0;
}

.nav .social a + a {margin-left: 5px;}
.nav .social span {margin: 0 10px;}
.nav .google-play {max-width: 100px;}

/* ------------------------------------------------------------------------------------------ 
	02.	CALCULATOR 
------------------------------------------------------------------------------------------ */

.calculator {
	padding-top: 70px;
}
.calculator h1.title {
	font-weight: 500;
	font-size: 35px;
	line-height: 40px;
	color: #394561;
	margin-bottom: 10px;
}
.calculator h2.subtitle {
	font-weight: 500;
	font-size: 21px;
	line-height: 27px;
	color: #394561;
}

#calculator {
	margin-top: 50px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px 0 hsla(218,8%,79%,.4);
	        box-shadow: 0 0 20px 0 hsla(218,8%,79%,.4);
	padding: 30px 80px 60px;
}

.range-slider__range {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	width: 100%;
	height: 8px;
	border-radius: 4px;
    background-color: #e3e5ec;
}

.range-slider__range::-webkit-slider-thumb {
	-webkit-appearance: none;
	        appearance: none;
    height: 30px;
    width: 20px;
    border: 1px solid #c6c9ce;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------------ 
	03.	STEP THREE 
------------------------------------------------------------------------------------------ */
.step-three ul {margin-top: 30px;}
.step-three ul li {
	text-align: center;
	position: relative;
	width: 33.33%;
}
.step-three ul li:after {
	content: '';
	display: block;
	width: 26px;
	height: 26px;
	background: url(../img/arrow-right.svg) no-repeat;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -13px;
}
.step-three ul li:last-child:after {display: none;}
.step-three ul .text {
	font-weight: 500;
	font-size: 21px;
	margin-top: 20px;
	color: #394561;
}

/* ------------------------------------------------------------------------------------------ 
	06.	VIEW PAY 
------------------------------------------------------------------------------------------ */
.view-pay ul {margin-top: 30px;}
.view-pay ul li {
	width: 33.33%;
}
.view-pay ul li .text {
	font-weight: 500;
	font-size: 21px;
	margin-top: 20px;
	color: #394561;
}
.view-pay h4.title {margin-top: 70px;}
.view-pay h3.title {
	margin-top: 70px;
	margin-bottom: 30px;
}

.view-pay .view-pay__info {
	width: 48%;
	background-color: #fff;
	padding: 20px 30px 30px;
	border-radius: 10px;
	-webkit-box-shadow: 0 0 20px 0 hsla(218,8%,79%,.4);
	        box-shadow: 0 0 20px 0 hsla(218,8%,79%,.4);
}
.view-pay .view-pay__info .d-flex {
	margin-bottom: 20px;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.view-pay .view-pay__info p {
	font-weight: 500;
	font-size: 17px;
	line-height: 25px;
	color: #394561;
	text-align: left;
}
.view-pay .view-pay__info p.title {
	font-weight: bold;
	font-size: 22px;
	color: #394561;
	margin-left: 20px;
}

/* ------------------------------------------------------------------------------------------ 
	07.	TAGS 
------------------------------------------------------------------------------------------ */
.tags a {
	display: inline-block;
	background: #f8f9f9;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    white-space: nowrap;
    color: #394561;
    margin: 10px 5px;
}

/* ------------------------------------------------------------------------------------------ 
	08.	CREDIT INFO 
------------------------------------------------------------------------------------------ */
.credit-info .head {
	border-bottom: 1px solid #d3d3d3;
	padding-bottom: 30px;
}
.credit-info .head-item {
	width: 33.33%;
	padding-right: 30px;
}
.credit-info .head-item:last-child {padding-right: 0;}
.credit-info .head-item h3 {
	font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
    color: #394561;
}
.credit-info .head-item p {
	font-size: 13px;
	color: #a3a3a3;
}
.credit-info .head-item .read {
	font-size: 13px;
	text-decoration: underline;
}
.credit-info .head-item .read:hover {text-decoration: none;}

.credit-info .info-text__section h6 {
	text-align: center;
	font-weight: 500;
	font-size: 20px;
	margin: 30px 0;
}
.credit-info .info-text__section h6.color-blue {color: #394561;}
.credit-info .info-text__section p {margin-bottom: 30px;}
.credit-info .info-text__section {
	border-bottom: 1px solid #d3d3d3;
}
.credit-info .info-text__section ul {
	margin: 30px 0;
	padding-left: 30px;
}
.credit-info .info-text__section ul li {
	margin: 15px 0;
	list-style: circle;
}

/* ------------------------------------------------------------------------------------------ 
	09.	CLIENTS
------------------------------------------------------------------------------------------ */
.clients {padding-top: 0;}

/* ------------------------------------------------------------------------------------------ 
	10.	FOOTER
------------------------------------------------------------------------------------------ */
.footer .nav {
	margin-top: 0;
	border-bottom: 1px solid #f1f1f1;
}
.footer-title {
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 30px;
	color: #353f59;
}
.footer .link-company {margin-top: 10px;}
.footer .copy {margin-bottom: 30px;}

/* ------------------------------------------------------------------------------------------ 
	12. TAKE CREDIT
------------------------------------------------------------------------------------------ */
.take-credit .center > .d-flex  {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.take-credit__item {
	width: 50%;
	position: relative;
	padding: 15px 0 50px 0;
}
.take-credit__item:nth-child(odd) {
	border-right: 1px solid #c8cdd0;
	padding-right: 40px;
}
.take-credit__item:nth-child(even) {
	padding-left: 40px;
}
.take-credit__item .circle {
	width: 51px;
	height: 51px;
	border: 1px solid #c6c9ce;
	border-radius: 50%;
	position: absolute;
	right: 0;
	background: #fff;
	top: 0;
	z-index: 999;
	margin-right: -25.5px;
	color: #ff9000;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 51px;
}
.take-credit__item:nth-child(odd) .circle {
	right: 0;
	margin-right: -25.5px;
}
.take-credit__item:nth-child(even) .circle {
	left: 0;
	margin-left: -25.5px;
}
.take-credit__item:nth-child(even) {
	border-left: 1px solid #c8cdd0;
	position: relative;
	left: -1px;
}
.take-credit__title {
	font-weight: 500;
	font-size: 20px;
	color: #394561;
	margin-bottom: 10px;
}
.take-credit__item p {margin-bottom: 15px;}

/* ------------------------------------------------------------------------------------------ 
	13. QUESTION CREDIT
------------------------------------------------------------------------------------------ */

.question-credit .tabs,
.question-credit .accordeon {
	margin-top: 50px;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.question-credit .tabs .tabs-navigation li,
.question-credit .accordeon .tabs-navigation li {
	font-size: 16px;
	padding: 20px 0;
    font-weight: bold;
    border-bottom: 1px solid #f1f1f1;
}
.question-credit .accordeon-btn {
	position: relative;
}
.question-credit .accordeon-btn:after {
	content: url(../img/down.svg);
	position: absolute;
	display: block;
	right: 5px;
	top: 20px;
}
.question-credit .tabs-content {padding-left: 30px;}
.question-credit .tabs-content .item {display: none;}
.question-credit .tabs-content .item.active,
.question-credit .accordeon .item.active {display: block;}
.question-credit .tabs-content h3,
.question-credit .accordeon h3 {
	font-weight: 300;
	font-size: 19px;
	color: #003485;
	margin-bottom: 20px;
	cursor: pointer;
}
.question-credit .tabs-content .inner-cont,
.question-credit .accordeon .inner-cont {
	padding: 20px;
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-left: 3px solid #ff9000;
    font-weight: 500;
    color: #414141;
    margin-bottom: 20px;
}
.tabs-navigation {
	min-width: 200px;
	width: 100%;
	max-width: 250px;
}

/* ------------------------------------------------------------------------------------------ 
	14. O NAS
------------------------------------------------------------------------------------------ */

.mission-cash h3 {
	font-weight: bold;
    font-size: 25px;
    color: #394561;
    min-width: 200px;
}
.mission-cash .text {
	font-weight: 300;
	font-size: 18px;
	color: #394561;
	padding-left: 20px;
	margin-left: 40px;
	border-left: 3px solid #ff9000;
}

.credit-service .text,
.credit-service .thumb {
	width: 50%;
}
.credit-service .thumb {padding: 0 30px;}
.credit-service .text .big {
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 20px;
}

.adventages .center {
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}
.adventages-item {padding-right: 20px;}
.adventages-item:last-child {padding-right: 0;}
.adventages-item h3 {
	color: #394561;
	margin-bottom: 10px;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
}
.adventages-item h3 span {
	display: inline-block;
	margin-left: 15px;
}

.friends .center {
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.friends .friends-item {
	width: 50%;
	padding-bottom: 50px;
}
.friends .friends-item:nth-child(odd) {padding-right: 15px;}
.friends .friends-item h3 {
	font-size: 16px;
	color: #394561;
	padding-bottom: 10px;
	margin-bottom: 20px;
	position: relative;
}
.friends .friends-item h3:after {
	content: '';
	display: block;
	max-width: 200px;
	width: 100%;
	height: 3px;
	background: #ff9000;
	position: absolute;
	top: 100%;
	left: 0;
}
.friends .friends-item:nth-last-child(1),
.friends .friends-item:nth-last-child(2) {padding-bottom: 0;}

/* ------------------------------------------------------------------------------------------ 
	15. FADBACK
------------------------------------------------------------------------------------------ */

.form-fadback .form {
	min-width: 50%;
	border-right: 1px solid #e0e0e2;
	padding-right: 100px;
}
.form-fadback label {
	display: block;
	margin-bottom: 20px;
}
.form-fadback label p {
	margin-bottom: 5px;
	color: #8a8a8a;
}
.form-fadback textarea {
	min-height: 100px;
	resize: none;
}

/* ------------------------------------------------------------------------------------------ 
	16. SINGLE
------------------------------------------------------------------------------------------ */

.single .thumbnail {margin-bottom: 30px;}
.single .thumbnail img {width: 100%;}
.single p {
	margin-bottom: 30px;
	font-size: 16px;
	line-height: 25px;
}

/* ------------------------------------------------------------------------------------------ 
	11.	MEDIA QUERIS
------------------------------------------------------------------------------------------ */
@media screen and (max-width: 1000px) {
	.nav .social {display: none;}
}

@media screen and (max-width: 768px) {
	.hidden-mobile {display: none !important;}
	.visible-mobile {display: block !important;}

	.header {padding-bottom: 20px;}
	.nav {display: none;}

	h2.title {font-size: 29px;}

	.step-three ul {
	    -webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	.step-three ul li + li {margin-top: 40px;}

	.view-pay ul {
		-webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	.view-pay ul li + li {margin-top: 40px;}

	.view-pay__wrap {
		-webkit-box-orient: vertical;
	    -webkit-box-direction: normal;
	        -ms-flex-direction: column;
	            flex-direction: column;
	}
	.view-pay .view-pay__info {width: 100%;}
	.view-pay .view-pay__info:last-child {margin-top: 30px;}

	.credit-info .head {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.credit-info .head-item {
	    width: 100%;
	    padding-right: 0;
	    margin-bottom: 20px;
	}

	.clients .center {
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	.clients .client-item {padding: 10px 10px;}

	.footer-content .center {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer-content .left,
	.footer-content .right {
		width: 100%;
	}
	.footer-content .right {margin-top: 30px;}

	.take-credit .center > .d-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.take-credit__item {
	    width: 100%;
	    position: relative;
	}
	.take-credit__item:nth-child(odd) .circle {
	    right: inherit;
	    left: 0;
	    margin-right: 0;
	}
	.take-credit__item:nth-child(even) .circle {
	    left: 0;
	    margin-left: 0;
	}
	.take-credit__item {
	    border-left: none !important;
	    left: 0 !important;
	    padding-left: 70px !important;
	}
	.take-credit__item:before {
		content: '';
		display: block;
		width: 1px;
		height: 100%;
		background: #c8cdd0;
		position: absolute;
		top: 0;
		left: 25px;
	}
	.take-credit__item:nth-child(odd) {
	    border-right: none;
	    padding-right: 0;
	}

	.d-flex.hidden-desktop.visible-mobile {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
	}

	.short-order .center {
		text-align: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.take-credit .take-credit__item img {margin-top: 50px;}

	.tabs-navigation {
	    min-width: 100%;
	    width: 100%;
	    max-width: 100%;
	}
	
	.question-credit ul li {padding: 0 !important;}
	.question-credit .accordeon-btn {
		display: block;
		padding: 20px 0;
	}

	.mission-cash {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.mission-cash .text {
		margin-left: 0;
		margin-top: 30px;
	}

	.credit-service {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.credit-service .text, .credit-service .thumb {
	    width: 100%;
	}
	.credit-service .thumb {
	 	padding: 0;
	 	-webkit-box-pack: center;
	 	    -ms-flex-pack: center;
	 	        justify-content: center;
	 	margin: 30px 0;
	}
	.adventages .center {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.adventages-item {
	    padding-right: 0;
	    width: 100%;
	}
	.adventages-item + .adventages-item {margin-top: 30px;}

	.friends .center {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;		
	}
	.friends .friends-item {
		padding-right: 0 !important;
		width: 100%;
	}
	.friends .friends-item:nth-last-child(1), .friends .friends-item:nth-last-child(2) {
	    padding-bottom: 50px;
	}

	.form-fadback .thumb {display: none;} 
	.form-fadback .form {
		border-right: none;
		padding-right: 0;
	}

	.form-fadback .form {min-width: 100%;}
}

@media screen and (max-width: 550px) {
	.header-tel {display: none;}
	.header .btn {margin-right: 5px;}

	.footer-content .left .d-flex {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	.footer-content .left .d-flex > div {
		width: 100%;
	}
	.footer-content .left .d-flex > div:first-child {margin-bottom: 20px;}
}