@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Light.eot');
    src: url('../fonts/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Light.woff') format('woff'),
        url('../fonts/SFUIDisplay-Light.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Heavy.eot');
    src: url('../fonts/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Heavy.woff') format('woff'),
        url('../fonts/SFUIDisplay-Heavy.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Semibold.eot');
    src: url('../fonts/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Semibold.woff') format('woff'),
        url('../fonts/SFUIDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Bold.eot');
    src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Bold.woff') format('woff'),
        url('../fonts/SFUIDisplay-Bold.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Black.eot');
    src: url('../fonts/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Black.woff') format('woff'),
        url('../fonts/SFUIDisplay-Black.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Black.svg#SFUIDisplay-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Medium.eot');
    src: url('../fonts/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Medium.woff') format('woff'),
        url('../fonts/SFUIDisplay-Medium.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Ultralight.eot');
    src: url('../fonts/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Ultralight.woff') format('woff'),
        url('../fonts/SFUIDisplay-Ultralight.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Thin.eot');
    src: url('../fonts/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/SFUIDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Thin.woff') format('woff'),
        url('../fonts/SFUIDisplay-Thin.ttf') format('truetype'),
        url('../fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    border: none;
    text-decoration: none;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* tags */
html, body {height: 100%;}

body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    color: #000;
}   

img {
    max-width: 100%;
    height: auto;
}

h2.title {
	font: 600 48px/57px 'SF UI Display', sans-serif;
	color: #1D1D1F;
}
h3.title {
	font-weight: 500;
	font-size: 48px;
	line-height: 59px;
	color: #313131;
	margin-bottom: 16px;
}
h4.title {
	font-size: 30px;
	line-height: 35px;
	color: #1D1D1F;
	margin-bottom: 30px;
}
h5.title {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #313131;
	margin-bottom: 20px;
}

p {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
}

/* display */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.d-none {display: none;}
.svg-icon {
    height: 0;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    z-index: -999999;
}
.w50 {width: 50%;}

/* text */
.tx-left {text-align: left;}
.tx-right {text-align: right;}
.tx-center {text-align: center;}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: -999;
	opacity: 0;
	background: rgba(0,0,0,.5);
	transition: opacity .7s cubic-bezier(.19,1,.22,1);
}
.overlay.active {
	opacity: 1;
	z-index: 999;
}

/* main */
.center {
    width: 100%;
    min-width: 250px;
    margin: 0 auto;
    padding: 0 20px;
}

.box-bg {background: #F8F8F8;}

.wrapper {overflow: hidden;}

/* button */
.btn {
	padding: 14px 13px;
	text-align: center;
	min-width: 165px;
	background: #000;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	color: #FFFFFF;
	display: inline-block;
	border: 2px solid transparent;
	transition: all 0.3s ease;
}
.btn:hover {
	border-color: #000;
	color: #000;
	background: transparent;
}

.btn-blue {
	width: 174px;
	height: 48px;
	text-align: center;
	background: #0071E3;
	border-radius: 6px;
	font: 500 16px 'SF UI Display', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	border: 2px solid transparent;
	transition: all 0.3s ease;
}
.btn-blue:hover {
	border-color: #0071E3;
	color: #0071E3;
	background: transparent;
}

.btn-backward {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #838383;
	display: flex;
	align-items: center;
	transition: all 0.3s ease;
	min-width: 240px;
	opacity: 0;
}
.btn-backward svg {
	width: 7px;
	height: 12px;
	fill: #838383;
	margin-right: 8px;
	transition: all 0.3s ease;
}
.btn-backward:hover {color: #313131;}
.btn-backward:hover svg {fill: #313131;}

/* HEADER
---------------------------------------------------- */
.header {
	margin-top: 23px;
	padding: 18px 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	left: 11px;
	right: 11px;
	z-index: 9991;
	transition: background .8s cubic-bezier(.19,1,.22,1);
}
.header-fill .header {
	padding: 12px 72px;
	margin-top: 22px;
	left: 11px;
	right: 11px;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(26px);
}

.logo {
	position: relative;
	z-index: 2;
	width: 150px;
	height: 30px;
	background: url(../img/logo.svg) no-repeat center;
	background-size: 150px;
	display: block;
}

.nav > ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav a span {
	position: relative;
} 
.nav a span:after,
.nav .sub-menu a:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #313131;
	opacity: .2;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .7s cubic-bezier(.19,1,.22,1),background .6s ease;
}
.nav a span:hover:after,
.nav .sub-menu a:after {
	transform: scaleX(1);
	transform-origin: left;
}
.nav > ul > li {padding: 0 15px;}
.nav > ul > li > a {
	color: #FFFFFF;
	opacity: 0.6;
	font: 500 14px 'SF UI Display', sans-serif;
}
.nav > ul > li > a:hover {
	opacity: 1;
	color: #777779;
}
.header-fill .header .nav > ul > li > a {color: #818181;}
.nav.active > ul > li > a {color: #777779;}

/* submenu */
.nav .sub-menu {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background: #fff;	
	overflow: hidden;
	z-index: -2;
	max-height: 0;
	height: 0;
	transition: max-height 0.3s ease;
}
.nav.active .sub-menu {max-height: 700px;}
.nav.active .sub-menu.mini {max-height: 300px;}
.nav .sub-menu .back-menu {display: none;}

.nav .sub-menu ul {
	padding: 86px 40px 30px 40px;
	display: flex;
	justify-content: space-between;
	opacity: 0;
	transition: opacity 2s cubic-bezier(.22,.61,.36,1);
}
.nav > ul > li:hover .sub-menu {
	z-index: -1;
	height: auto;
}
.nav > ul > li:hover .sub-menu ul {
	transform: none;
	opacity: 1;
}
.nav .sub-menu li {
	width: 25%;
	margin-right: 30px;	
}
.nav .sub-menu li:last-child {margin-right: 0;}
.nav .sub-menu li a {display: block;}
.nav .sub-menu li .thumb img {
	width: 100%;
	display: block;
}
.nav .sub-menu li span:not(.inner) {
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	color: #1D1D1F;
	margin-top: 17px;
}
.nav .sub-menu h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	color: #515154;
	margin-bottom: 20px;
}
.nav .sub-menu a {
	font-size: 16px;
    line-height: 160%;
    color: #515154;
}
.nav .sub-menu a span.inner {position: relative;}
.nav .sub-menu a span.inner:after {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #313131;
	opacity: .2;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .7s cubic-bezier(.19,1,.22,1),background .6s ease;
}
.nav .sub-menu a:hover span.inner:after {
	transform: scaleX(1);
	transform-origin: left;
}

/* fixed */
.header.fixed {
	position: fixed;
	margin-top: 22px;
	left: 11px;
	right: 11px;
	background: #fff;
}
.header.fixed .nav > ul > li > a,
.header .nav.active > ul > li > a  {
	color: #777779;
	opacity: 1;
}
.header.fixed .nav > ul > li > a:hover,
.header .nav.active > ul > li > a:hover {
	color: #313131;
}

.header-fill .header.fixed {
	margin-top: 22px;
	right: 11px;
	left: 11px;
}

/* HOME
---------------------------------------------------- */
.home {
	min-height: 800px;
	position: relative;
}
.home video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
	object-fit: cover;
	opacity: 0;
	transform: scale3d(1.2,1.2,1.2);
	transition: opacity 2s cubic-bezier(.19,1,.22,1),transform 2s cubic-bezier(.19,1,.22,1);
	will-change: opacity,transform;
}
.home video.play {
	z-index: 2;
	opacity: 1;
	transform: none;
}
.home .arrows {
	position: absolute;
	left: 20px;
	bottom: 20px;
	z-index: 3;
}
.home .arrows button {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	line-height: 35px;
	color: #333;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	opacity: 0.7;
}
.home .arrows button.next-video {margin-left: 10px;}
.home .arrows button:hover {opacity: 1;}
.home .arrows button svg {
	position: absolute;
	top: 0;
	left: 0;
}
.home .arrows button svg circle {stroke-dashoffset: 114px;}
.home .arrows button.active svg circle {animation: animCircle 14s linear;}

@keyframes animCircle {
	0% {stroke-dashoffset: 114px;}
	100% {stroke-dashoffset: 0;}
}

.icon--arrow div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 7px;
    height: 2px;
    transform-origin: center;
    pointer-events: none;
    background: #313131;
    transition: transform .7s cubic-bezier(.19,1,.22,1),opacity .6s cubic-bezier(.19,1,.22,1);
}

/* hover next */
.icon--arrow.arrow--right div:first-child {
    transform: translate3d(0,2px,0) rotate3d(0,0,1,-45deg) scale(.9);
}
.icon--arrow.arrow--right div:nth-child(2) {
    transform: translate3d(0,-2px,0) rotate3d(0,0,1,45deg) scale(.9);
}
.icon--arrow.arrow--right div:last-child {
    width: 10px;
    transform: rotate3d(0,1,0,90deg) scale(.9);
    opacity: 0;
}

.home .arrows button:hover .icon--arrow.arrow--right div:first-child {
    transform: translate3d(2px,2px,0) rotate3d(0,0,1,-45deg) scale(.9);
}
.home .arrows button:hover .icon--arrow.arrow--right div:nth-child(2) {
    transform: translate3d(2px,-2px,0) rotate3d(0,0,1,45deg) scale(.9);
}
.home .arrows button:hover .icon--arrow.arrow--right div:last-child {
    transform: translate3d(-1px,0,0) rotate3d(0,0,0,0deg) scale(.9);
    opacity: 1;
}

/* hover prev */
.icon--arrow.arrow--left div:first-child {
    transform: translate3d(0,2px,0) rotate3d(0,0,1,45deg) scale(.9);
}
.icon--arrow.arrow--left div:nth-child(2) {
    transform: translate3d(0,-2px,0) rotate3d(0,0,1,-45deg) scale(.9);
}
.icon--arrow.arrow--left div:last-child {
    width: 10px;
    transform: rotate3d(0,1,0,90deg) scale(.9);
    opacity: 0;
}

.home .arrows button:hover .icon--arrow.arrow--left div:first-child {
    transform: translate3d(-2px,2px,0) rotate3d(0,0,1,45deg) scale(.9);
}
.home .arrows button:hover .icon--arrow.arrow--left div:nth-child(2) {
    transform: translate3d(-2px,-2px,0) rotate3d(0,0,1,-45deg) scale(.9);
}
.home .arrows button:hover .icon--arrow.arrow--left div:last-child {
    transform: translate3d(1px,0,0) rotate3d(0,0,0,0deg) scale(.9);
    opacity: 1;
}

/* MENU
---------------------------------------------------- */
.menu {
	display: flex;
	justify-content: center;
	padding: 50px 0;
}
.menu ul {display: flex;}
.menu ul li {
	margin: 0 44px;
	text-align: center;
	font: 22px/26px 'SF UI Display', sans-serif;
}
.menu a span {
	display: block;
	text-align: center;
	margin-top: 26px;
	color: #333;
}
.menu a:hover span {
	font: 500 22px/26px 'SF UI Display', sans-serif;
	color: #000;
}

/* OUR PRODUCT
---------------------------------------------------- */
.our-product {
	display: flex;
}
.our-product .text {
	width: 50%;
	margin-right: 12.5px;
	background: #FCFCFC;
	padding: 53px 40px 53px 40px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.our-product .text p {
	font: 500 22px/26px Roboto, sans-serif;
	color: #333333;
	margin-top: 16px;
}
.our-product .text ul {margin-top: 20px;}
.our-product .text li {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
}
.our-product .thumb {
	width: 50%;
	margin-left: 12.5px;
	background: #FCFCFC;
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.our-product .thumb img {
	object-fit: contain;
}
.page-landing .our-product .thumb {max-height: 752px;}

/* ITEM PRODUCT
---------------------------------------------------- */
.item-product {
	display: flex;
	margin-right: -20px;
	margin-left: -20px;
	margin-top: 85px;
}
.item-product .item {
	width: 33.33%;
	margin: 0 20px;
}
.item-product .item .thumb {
	background: #FBFBFD;
	display: flex;
	justify-content: center;
	padding: 30px;
}
.item-product .item h3 {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #1D1D1F;
	margin-top: 18px;
}
.item-product .item p {
	font-size: 18px;
	line-height: 160%;
	color: #333333;
	margin-top: 16px;
}

/* ARTICLE
---------------------------------------------------- */
.article {margin-top: 90px;}
.article .thumb {
	background: #F8F8F8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.article .thumb img {width: 100%;}
.article .thumb video {width: 100%;}
.article .bottom {
	display: flex;
	justify-content: space-between;	
	margin-top: 30px;
}
.article .bottom .descr {
	max-width: 950px;
	padding: 20px 20px 0 39px;	
}
.article .bottom p {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
	margin-top: 14px;
}
.article .bottom .descr ul {margin-top: 19px;}
.article .bottom .descr ul li {
	font-size: 18px;
	line-height: 160%;
	color: #313131
}
.article .bottom > div {padding: 25px 39px 0 0;}
.article .ul-list {
	display: flex;
	margin-top: 14px;
	padding: 0 20px 0 39px;	
}
.article .ul-list ul + ul {margin-left: 80px;}
.article .ul-list ul li {
	font-size: 18px;
	line-height: 160%;
	color: #333333;
}

.not-padding {padding: 0 !important;}

.article-center {
	max-width: 720px;
	margin: 90px auto 0 auto;
}

/* SECURITY
---------------------------------------------------- */
.security {
	display: flex;
	justify-content: flex-end;
	margin-top: 90px;
	margin-bottom: 85px;
}
.security .thumb {
	width: 50%;
	margin-right: 13px;
	display: flex;
}
.page-landing .security .thumb {max-height: 745px;}
.security .thumb img,
.security .thumb video {
	width: 100%;
	object-fit: cover;
}
.security .descr {
	width: 50%;
	padding: 212px 40px;
	background: #FCFCFC;
	margin-left: 13px;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.security .descr ul {margin-top: 15px;}
.security .descr ul li {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
}
.security .descr .group {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-top: 30px;
}
.security .descr .group .btn {max-width: 165px;}
.security .descr .group .btn + .btn {margin-top: 24px;}
.security.reverce .descr {
	margin-left: 0;
	margin-right: 13px;
}
.security.reverce .thumb {
	margin-right: 0;
	margin-left: 13px;
}

/* BANNER
---------------------------------------------------- */
.banner {position: relative;}
.banner img {
	display: block;
	width: 100%;
}
.banner video {
	width: 100%;
	object-fit: cover;
}
.banner .inner {
	position: absolute;
	left: 40px;
	right: 40px;
	bottom: 40px;
	display: flex;
	justify-content: space-between;
}
.banner .inner h3.title {color: #F1F1F1;}
.banner .inner p {color: #F1F1F1;}
.banner .btn:hover {
	border-color: #fff;
	color: #fff;
}
.banner .inner.white {display: block;}
.banner .inner.white h3.title {
	color: #F1F1F1;
	margin-bottom: 10px;
}
.banner .inner.white p.subtotal {
	font-weight: 300;
	font-size: 16px;
	line-height: 170%;
	color: #F1F1F1;
}

.banner-center {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	text-align: center;
}
.banner-center p {
	font: 600 22px/26px 'SF UI Display', sans-serif;
	text-align: center;
	color: #F1F1F1;
	margin-top: 30px;
}

.mt130 {margin-top: 128px;}
.mt60 {margin-top: 60px;}

/* DEMO
---------------------------------------------------- */
.demo {
	display: flex;
	margin-right: -13px;
	margin-left: -13px;
	margin-top: 94px;
	margin-bottom: 85px;
}
.demo .item {
	width: 50%;
    margin: 0 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.demo .item h4 {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #1D1D1F;
}
.demo .item p {
	color: #333;
	margin-top: 16px;
}
.demo .item ul {margin-top: 29px;}
.demo .item ul li {
	font-size: 18px;
	line-height: 160%;
	color: #333333;
}
.demo .item .content {padding: 24px 30px 40px 37px;}
.demo .item:last-child .content {
	background: url(../img/bg-demo.png) no-repeat center;
	background-size: cover;
}
.demo .item .thumb {
	min-height: 465px;
	display: flex;
	object-fit: cover;
}
.demo .item .thumb img {
	display: block;
	width: 100%;
}

/* REQUEST INFORMATION
---------------------------------------------------- */
.request-information {
	padding: 85px 0 100px 0;
}
.request-information h3.title {color: #1D1D1F;}
.request-information form {
	margin-top: 37px;
	max-width: 656px;
	margin: 0 auto;
}
.form-style h3 {
	font-weight: 500;
	font-size: 50px;
	line-height: 59px;
	text-align: center;
	color: #1D1D1F;
	margin-bottom: 37px;
}
.form-style .group {
	display: flex;
}
.form-style .group input {width: 100%;}
.form-style .group input:first-child {margin-right: 7px;}
.form-style .group input:last-child {margin-left: 7px;}
.form-style input,
.form-style .drop-down .view {
	display: block;
	height: 48px;
	width: 100%;
	padding: 0 16px;
	color: #333;
	border: 1px solid #D6D6D6;
	font: 16px/150% 'SF UI Display', sans-serif;
	line-height: 150%;
	color: #333333;
	margin-bottom: 16px;
}
.form-style input::placeholder {color: #333;}
.form-style input[type="submit"],
.form-style button[type="submit"] {
	margin-top: 4px;
	cursor: pointer;
}
.form-style .form-text {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
	margin-top: 30px;
}
.form-style .form-text a {
	color: #313131;
	text-decoration: underline;
}
.form-style .form-text a:hover {text-decoration: none;}

.form-style .drop-down .view {
	display: flex;
	align-items: center;
	position: relative;
}
.form-style .drop-down .view:after {
	content: '';
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-top: 4px solid #000;
	position: absolute;
	top: 50%;
	right: 16px;
	margin-top: -2.5px;
	transition: all 0.3s ease;
}
.form-style .drop-down.selected .view:after {
	transform-origin: center;
	transform: rotate(-180deg);
}
.form-style .drop-down.selected .drop {
	border-left: 1px solid #D6D6D6;
    border-right: 1px solid #D6D6D6;
    border-bottom: 1px solid #D6D6D6;
    width: 100%;
    background: #fff;
    overflow-y: auto;
}
.form-style .drop-down.selected .drop::-webkit-scrollbar {width: 5px;}
.form-style .drop-down.selected .drop::-webkit-scrollbar-thumb {background: #000;}
.form-style .drop-down .drop li {
	padding: 10px 16px;
	font: 16px/150% 'SF UI Display', sans-serif;
	color: #333333;
	cursor: pointer;
}

.fs16 {font-size: 16px !important;}

.drop-down {position: relative;}
.drop-down .view {
	cursor: pointer;
	user-select: none;
}
.drop-down .drop {
    position: absolute;
    top: 100%;
    left: 0;
    height: 0;
    display: none;
    z-index: 999;
    overflow: hidden;
    transition: height 0.3s ease;
}
.drop-down .drop.active {
    height: 150px;
    display: block;
}

/* FOOTER
---------------------------------------------------- */
.footer {padding-top: 37px;}
.footer p {
	font-size: 16px;
	line-height: 150%;
	color: #313131;
}
.footer-logo {
	margin-bottom: 15px;
    width: 150px;
    height: 35px;
    background: url(../img/logo.svg) no-repeat center;
    background-size: 170px;
    display: inline-block;
}
.footer-main {
	display: flex;
	justify-content: space-between;
}
.footer-item {position: relative;}
.footer-item:first-child {max-width: 600px;}
.footer-item:first-child p {margin-top: 15px;}
.footer-item {max-width: 165px;}
.footer-item h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	color: #515154;
}
.footer-item ul {margin-top: 15px;}
.footer-item ul li a {
	font-size: 16px;
	line-height: 160%;
	color: #515154;
}
.footer a:hover {text-decoration: underline;}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 36px;
	padding-bottom: 58px;
}
.footer-bottom ul {display: flex;}
.footer-bottom ul a {
	display: block;
	font-size: 16px;
	line-height: 19px;
	color: #313131;
}
.footer-bottom ul li + li {margin-left: 26px;}
.footer-bottom form {
	display: flex;
	align-items: center;
}
.footer-bottom form h3 {
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	color: #313131;
	margin-right: 36px;
}
.footer-bottom form input {
	min-width: 280px;
	min-height: 29px;
	padding: 0 16px;
	font: 16px/150% 'SF UI Display', sans-serif;
	color: #333333;
	border-bottom: 1px solid #979797;
	margin-right: 26px;
}
.footer-bottom form input::placeholder {color: #999999;}
.footer-bottom form button {
	font-family: Roboto;
	font-weight: 500;
	font-size: 20px;
	line-height: 140%;
	color: #000000;
	background: none;
}

.footer-gray {
	padding-top: 40px;
}
.footer-gray .footer-address {margin-top: 25px;}
.footer-gray .form-letter {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 30px;
	width: 353px;
}
.footer-gray .form-letter .group {
	margin-top: 22px;
	display: flex;
}
.footer-gray .form-letter input {
	width: 240px;
	height: 36px;
	border-top: 1px solid #D6D6D6;
	border-left: 1px solid #D6D6D6;
	border-bottom: 1px solid #D6D6D6;
	padding: 0 16px;
	color: #7B7B7C;
	background: transparent;
}
.footer-gray .form-letter button {
	width: 114px;
	height: 36px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	font: 500 16px 'SF UI Display', sans-serif;
	color: #fff;
	transition: all 0.3s ease;
	cursor: pointer;
}
.footer-gray .form-letter button:hover {
	background: #8e8e8e;
}
.footer-gray .footer-bottom  {
    margin-top: 34px;
    padding-bottom: 16px;
    padding-top: 16px;
    border-top: 1px solid #D2D2D7;
}
.footer-gray .footer-bottom .form-letter {display: none;}
.footer-gray .footer-bottom ul li + li {border-left: 1px solid #D2D2D7;}
.footer-gray .footer-bottom ul li + li a {padding-left: 16px;}

/* LANDING PAGE
---------------------------------------------------- */
.page-landing .menu-top {
	padding: 53px 0;
}
.page-landing .menu-top strong {
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #313131;
}

.page-landing .security .group {
	align-items: flex-start;
}

.organization {
	display: flex;
	padding: 85px 0 0 0;
}
.organization .text {
	width: 50%;
	background: #FCFCFC;
	padding: 40px;
	margin-right: 13px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.page-citizen .organization .text {
	display: flex;
	flex-direction: column;
}
.page-citizen .organization .text div:last-child {
	margin-top: auto;
	text-align: right;
}
.organization .thumb {
	display: flex;
	width: 50%;
	margin-left: 13px;
}
.organization .thumb img {
	width: 100%;
	object-fit: cover;
}
.page-landing .organization .thumb {max-height: 732px;}
.organization p {margin-top: 20px;}
.organization ul {margin-top: 20px;}
.organization ul li {
	font-size: 18px;
	line-height: 160%;
	color: #333333;
}
.organization .tx-right {margin-top: -60px;}
.organization.reverse .thumb {
	margin-left: 0;
	margin-right: 13px;
}
.organization.reverse .text {
	margin-right: 0;
	margin-left: 13px;
}
.organization .text.not-background {
	padding: 40px 0 0 0;
	background: none;
}


.mt85 {margin-top: 85px;}


/* CITIZEN PAGE
---------------------------------------------------- */
.page-citizen {
	font-weight: 300;
	font-size: 16px;
	line-height: 170%;
	color: #000000;
}

.grid-image {
	display: flex;
	justify-content: space-between;
}
.grid-image .grid > div {
	display: flex;
	justify-content: space-between;
}
.grid-image .grid .item {
	width: 50%;
	margin-bottom: 16px;
}
.grid-image .grid .item img {width: 100%;}
.grid-image .grid .item:first-child {
	margin-right: 13px;
}
.grid-image .grid .item:last-child {
	margin-left: 13px;
}
.grid-image .grid > div:last-child .item:nth-last-child(1),
.grid-image .grid > div:last-child .item:nth-last-child(2) {margin-bottom: 0;}

.grid-image .left {
	width: 65%;
	margin-left: -20px;
}
.grid-image .right {
	width: 35%;
	padding-left: 70px;
	padding-right: 70px;
}
.grid-image .left {margin-right: 20px;}
.grid-image .right {margin-left: 20px;}
.grid-image .right .grid {
	margin-top: 80px;
	display: flex;
}
.grid-image .right .grid .item {
	width: 50%;
}
.grid-image .right .grid .item:first-child {margin-right: 13px;}
.grid-image .right .grid .item:last-child {margin-left: 13px;}
.grid-image .big {
	margin-bottom: 16px;
}
.grid-image .big video {width: 100%;}
.grid-image .big img {width: 100%;}

.bg-gray {background: #F2F2F2 !important;}

.line-left {position: relative;}
.line-left:after {
	content: '';
	display: block;
	width: 6px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	border-radius: 6px;
	background: #0071E3;
}

.pl39 {padding-left: 39px !important;}
.pb60 {padding-bottom: 60px !important;}
.pb23 {padding-bottom: 23px !important;}
.ml23 {margin-left: 39px;}
.mt30 {margin-top: 30px;}

/* SALES PAGE
---------------------------------------------------- */
.page-sales .home {
	background: url(../img/bg-home-sales.jpg) no-repeat center top;
	background-size: cover;
	position: relative;
}
.page-sales .home:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	z-index: 2;
}
.home h3.subtitle {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 53px;
	text-align: center;
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	color: #fff;
	z-index: 3;
}

.box-wrap {display: flex;}
.box-wrap .thumb img {width: 100%;}
.box-wrap .left,
.box-wrap .right {width: 50%;}
.box-wrap .left {margin-right: 20px;}
.box-wrap .right {margin-left: 20px;}
.box-wrap h2 {
	font-weight: normal;
	font-size: 42px;
	line-height: 49px;
	color: #1D1D1F;
	margin-top: 17px;
	margin-bottom: 6px;
	min-height: 100px;
}

.box-wrap.contact-us {
	padding: 85px 0;
}
.box-wrap.contact-us .left {padding-top: 95px;}
.box-wrap.contact-us .left p:first-child {
	font-size: 26px;
	line-height: 150%;
	color: #313131;
	margin-bottom: 30px;
}
.box-wrap.contact-us .left p:nth-last-child(2) {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
	margin-bottom: 40px;
}
.box-wrap.contact-us .left p:nth-last-child(2) strong {
	font-weight: 500;
	font-size: 20px;
	line-height: 160%;
	color: #313131;
}

/* SALES PAGE
---------------------------------------------------- */
.home-search {
	min-height: 300px;
	background: url(../img/bg-search.jpg) no-repeat center;
	background-size: cover;
	position: relative;
}
.form-search {
	width: 440px;
	height: 42px;
	position: absolute;
	left: 50%;
	bottom: 90px;
	transform: translateX(-50%);
	background: rgba(255,255,255,.5);
}
.form-search input {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	color: #6C6360;
	font: 16px 'SF UI Display', sans-serif;
	width: 100%;
	background: none;
	transition: background 0.5s ease;
}
.form-search input:focus {background: #FFFFFF;}
.form-search input::placeholder {color: #6C6360;}
.form-search button {
	background: none;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	cursor: pointer;
	margin-top: 2px;
}
.form-search button svg {
	width: 16px;
	height: 16px;
}

.content-accordeon {
	height: 0;
	overflow: hidden;
	transition: all 0.3s ease;
} 
.item-accordeon .content-accordeon .inner {
	transform: translate3d(0,-5%,0);
	opacity: 0;
}
.item-accordeon.active .content-accordeon .inner {
	padding-top: 12px;
	padding-bottom: 40px;
	transform: none;
	opacity: 1;
	transition: transform 1s cubic-bezier(.19,1,.22,1), opacity 1.9s;
}

/* main */
.main {
	display: flex;
	justify-content: space-between;
	padding: 85px 0;
}

/* left sidebar */
.left-sidebar {
	width: 200px;
	margin-right: 40px;
}

/* right sidebar */
.right-sidebar {
	max-width: 440px;
	min-width: 440px;
	margin-left: 40px;
}

.box-sidebar.email p {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
	margin-bottom: 35px;
}
.box-sidebar.email a {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #838383;
	border-bottom: 1px solid #838383;
	transition: all 0.3s ease;
}
.box-sidebar.email a:hover {border-color: transparent;}

.accordeon-question .btn-accordeon {
	padding: 12px 30px 12px 0;
	font-size: 18px;
	line-height: 160%;
	color: #858585;
	border-bottom: 1px solid #D8D8D8;
	margin-bottom: 0;
	background: url(../img/ic-plus.png) no-repeat right center;
	cursor: pointer;
}
.accordeon-question .item-accordeon.active .btn-accordeon {
	color: #313131;
	background: url(../img/ic-line.png) no-repeat right center;
}
.accordeon-question .content-accordeon p {
	font-size: 18px;
	line-height: 160%;
	color: #333333;
}
.accordeon-question .content-accordeon p + p {margin-top: 40px;}
.accordeon-question .content-accordeon .choice {
	display: flex;
	align-items: center;
	margin-top: 40px;
}
.accordeon-question .content-accordeon .choice strong {
	font-size: 18px;
	font-weight: normal;
	line-height: 160%;
	color: #313131;
}
.accordeon-question .content-accordeon .choice span {
	margin-left: 20px;
	font-size: 16px;
	line-height: 150%;
	color: #313131;
}
.accordeon-question .content-accordeon .choice span:hover {
	color: #838383;
	cursor: pointer;
	border-bottom: 1px solid #838383;
}

/* REQUEST DEMO PAGE
---------------------------------------------------- */
.page-request .header.fixed .logo svg:first-child {display: none;}
.page-request .header.fixed .logo svg:last-child {display: block;}
.page-request .home {
	background: url(../img/bg-home-request.jpg) no-repeat;
	background-size: cover;
	position: relative;
}
.page-request .box-wrap.contact-us .left p:first-child {
	font-size: 18px;
	line-height: 160%;
	color: #313131;
}
.page-request .box-wrap.contact-us .left ul li {
	font-size: 18px;
	line-height: 160%;
	color: #313131
}
.page-request .box-wrap.contact-us .left .thumb {margin-top: 40px;}

/* ABOUT US
---------------------------------------------------- */
.page-about .logo {
	background: url(../img/logo-white.svg) no-repeat center;
	background-size: 150px;
}

.page-about .header.fixed .logo {
	background: url(../img/logo.svg) no-repeat center;
	background-size: 150px;
}

.page-about .home {
	background: url(../img/bg-home-about.jpg) no-repeat center bottom;
	background-size: cover;
}

.page-about .content-text {
	padding: 85px 0;
}
.page-about .content-text p {margin-bottom: 85px;}

.mb30 {margin-bottom: 30px !important;}
.not-mb {margin-bottom: 0 !important;}

/* SCHOOL SAFETY
---------------------------------------------------- */
.page-school {padding-top: 0;}
.page-school .grid-image .right {padding-top: 110px;}

.max-width100 {max-width: 100% !important;}
.mt138 {margin-top: 138px;}

.box-retreat {padding: 85px 0 0 0;}
.box-retreat img {
	display: block;
	width: 100%;
}

/* FAMILY PAGE
---------------------------------------------------- */
.page-family {padding-top: 0;}
.page-family .grid-image .right {padding-top: 110px;}

.mt195 {margin-top: 195px;}

.percent-wrap {
	padding: 20px 40px 210px 40px;
}
.percent-wrap ul {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}
.percent-wrap ul li {width: 20%;}
.percent-wrap ul li p {
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
	text-align: center;
	color: #333333;
}

/* percent */
.percent {
	position: relative;
	text-align: center;
	margin-bottom: 15px;
}
.percent svg {
	position: relative;
	width: 120px;
	height: 120px;
	transform: rotate(-90deg);
	margin: 0 auto;
}
.percent svg circle {
	width: 100%;
	height: 100%;
	fill: none;
	stroke: #D6D6D6;
	stroke-width: 12;
}
.percent svg circle:last-of-type {
	stroke-dasharray: 335px;
	stroke-dashoffset: calc(335px - (335px * var(--percent)) / 100);
	stroke: #000000; 
}
.percent .number {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 22px;
	line-height: 26px;
	text-align: center;
	color: #333333;
}

/* COVID PAGE
---------------------------------------------------- */
.page-covid {padding-top: 0;}
.page-covid .grid-image .right {padding-top: 110px;}

.mt90 {margin-top: 90px;}

/* BUIIYING PAGE
---------------------------------------------------- */
.page-buiiying {padding-top: 0;}
.page-buiiying .grid-image .right,
.page-citizen .grid-image .right {padding-top: 110px;}

.people .icons {
	display: flex;
	align-items: center;
	margin-top: 35px;
}
.people .icons svg {
	fill: #333333;
	width: 23px;
	height: 55px;
}
.people .icons svg:first-child {fill: #D6D6D6;}
.people .icons svg + svg {margin-left: 8px;}
.people .icons span {margin-left: 33px;}
.people .icons span,
.people p {
	font-size: 32px;
	line-height: 150%;
	color: #313131;
}
.people p {margin-top: 18px;}

.size34 {
	font-size: 34px !important;
	line-height: 40px !important;
	color: #1D1D1F !important;
}

.set-animation {
	transform: translate3d(0,5%,0);
	opacity: 0;
}
.set-animtext {opacity: 0;}
.anim {
    transform: none;
    opacity: 1;
    transition: transform 3.5s cubic-bezier(.19,1,.22,1), opacity 1.9s;
}
.anim-text {
	opacity: 1;
	transition: opacity 1.9s;
}
.set-animimg {
	transform: none;
    transition-property: transform;
    transition-timing-function: cubic-bezier(.19,1,.22,1);
    transition-duration: 3.5s;
}

/* ---------------------------------------------- */
/*               MEDIA QUERI                      */
/* ---------------------------------------------- */
@media screen and (max-width: 1300px) {
	/* percent */
	.percent-wrap {
		padding-right: 0;
		padding-left: 0;
	}
	.percent-wrap ul li {padding: 0 15px;}
	.percent-wrap ul li p br {display: none;}

	/* faqs */
	.left-sidebar {
	    width: 150px;
	    margin-right: 40px;
	}
	.right-sidebar {
	    max-width: 300px;
	    min-width: 300px;
	    margin-left: 40px;
	}
}

@media screen and (max-width: 1200px) { 
	.page-landing .our-product .thumb,
	.page-landing .security .thumb,
	.page-landing .organization .thumb {
	    max-height: none;
	}
}

@media screen and (max-width: 1100px) {
	.hide-ipade {display: none;}
	.show-ipade {display: block;}

	/* grid */
	.grid-image .right {
	    padding-left: 0;
	    padding-right: 0;
	}

	/* footer */
	.footer-item {
	    max-width: inherit;
	    min-width: 33.33%;
	    padding-right: 20px;
	}
	.footer-item:last-child {padding-right: 0;}

	.footer-address {display: flex;}
	.footer-address .footer-item {min-width: 33.33%;}

	.footer-address > p {
		min-width: 33.33%;
		padding-right: 20px;
	}

	.form-letter {
		min-width: 33.33%;
		position: static !important;
		margin-top: 0 !important;
	}
	.form-letter h3 {color: #515154;}

	.footer-bottom {justify-content: center;}
}

@media screen and (max-width: 991px) {
	/* header */
	.header {
		padding: 10px 20px !important;
		flex-direction: column;
	    align-items: inherit;
		background: #fff !important;
	}
	.menu-active .header {bottom: 11px;}
	.page-about .logo {
		background: url(../img/logo.svg) no-repeat center;
		background-size: 150px;
	}
	.top-header {
		display: flex;
		justify-content: center;
		position: relative;
	}

	.btn-menu {
	    display: block;
	    width: 16px;
	    height: 10px;
	    cursor: pointer;
	    position: absolute;
	    background: none;
	    top: 50%;
	    left: 0;
	    margin-top: -5px;
	}
	.btn-menu span {
	    display: block;
	    height: 2px;
	    border-radius: 5px;
	    background: #000;
	    transition: transform 0.3s ease;
	}
	.btn-menu span + span {
	    margin-top: 2px;
	}
	.menu-active .btn-menu span {
	    width: 100%;
	    position: absolute;
	    top: 50%;
	    left: 0;
	    right: 0;
	    margin-top: -1px;
	    transform-origin: center;
	}
	.menu-active .btn-menu span:nth-child(1) {
	    transform: rotate(45deg);
	}
	.menu-active .btn-menu span:nth-child(3) {
	    transform: rotate(-45deg);
	}
	.menu-active .btn-menu span:nth-child(2) {
	    display: none;
	}

	.nav {
		border-top: 1px solid #e2e2e2;		
		position: relative;
		overflow: hidden;
		height: 0;
		opacity: 0;
		transition: opacity 0.3s ease;
	}
	.menu-active .nav {
		opacity: 1;
		height: 100%;
		margin-top: 10px;
	}
	.nav > ul {
		flex-direction: column;
		padding-top: 15px;		
		transition: all 1s ease;
	}
	.nav > ul > li > a {
		display: block;
		font-size: 19px;
		padding: 10px 0;
		color: #313131;
	}
	.nav > ul > li > .sub-menu {
		transform: translateX(100%);
		max-height: none;
		transition: transform 0.3s ease;
		background: #fff;
		padding-top: 20px;
		bottom: 0;
		position: absolute;
		top: 0;
		z-index: 5 !important;
		overflow-y: auto;
	}
	.nav > ul > li > .sub-menu .back-menu {display: block;}
	.nav > ul > li > .sub-menu::-webkit-scrollbar {width: 5px;}
	.nav > ul > li > .sub-menu::-webkit-scrollbar-thumb {background: #313131;}
	.nav > ul > li > .sub-menu::scrollbar {width: 5px;}
	.nav > ul > li > .sub-menu::scrollbar-thumb {background: #313131;}
	.nav > ul > li.active > .sub-menu {opacity: 1;}
	.nav > ul > li.active > .sub-menu > ul {
		padding: 0;
		margin-top: 20px;
	}
	.nav .sub-menu ul {opacity: 1;}
	.nav > ul > li.active > .sub-menu {
		transform: translateX(0%);
	}
	.nav > ul > li > .sub-menu .back-menu {
		cursor: pointer;
		display: inline-block;
		color: #313131;
		opacity: 0.5;
		transition: opacity 0.3s ease;
	}
	.nav > ul > li > .sub-menu .back-menu:hover {opacity: 1;}
	.nav > ul > li > .sub-menu .back-menu svg {fill: #313131;}

	/* security */
	.security {
		display: flex;
		flex-direction: column;
	}
	.security .descr {
		margin-left: 0 !important;
		margin-right: 0 !important;
		width: 100%;
	}
	.security .thumb {
	    margin-right: 0 !important;
	    margin-left: 0 !important;
	    width: 100%;
	    margin-top: 16px;
	}

	/* banner */
	.banner {
		min-height: 400px;
		display: flex;
	}  
	.banner img {object-fit: cover;}
	.banner .inner p br {display: none;}
	.banner .descr {padding-right: 20px;}

	.mt195 {margin-top: 70px;}

	/* percent */
	.percent-wrap {padding-bottom: 0;}
	.percent-wrap ul {flex-wrap: wrap;}
	.percent-wrap ul li {margin-bottom: 20px;}
	.percent-wrap ul li:nth-child(1),
	.percent-wrap ul li:nth-child(2),
	.percent-wrap ul li:nth-child(3) {width: 33.33%;}
	.percent-wrap ul li:nth-last-child(1),
	.percent-wrap ul li:nth-last-child(2) {
		width: 50%;
	}

	/* faqs */
	.main {display: block;}
	.left-sidebar {
	    width: 100%;
	    margin-right: 0;
	    margin-bottom: 20px;
	}
	.right-sidebar {
	    max-width: 100%;
	    min-width: 100%;
	    margin-left: 0;
	    margin-top: 50px;
	}

	/* menu */
	.menu ul li {margin: 0 15px;}

	/* organization */
	.organization .tx-right {margin-top: 20px;} 

	/* footer */
	.footer .accordeon {display: block;}
	.footer .item-accordeon {margin-bottom: 20px;}
	.footer .btn-accordeon {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background: none;
		cursor: pointer;
	}
	.footer .btn-accordeon svg {
		width: 10px;
		height: 10px;
		fill: #515154;
	}
	.footer .item-accordeon.active .btn-accordeon svg {
		transform-origin: center;
		transform: rotate(-180deg);
	}
	.footer .btn-accordeon span {
		font-weight: 500;
	    font-size: 20px;
	    line-height: 160%;
	    color: #515154;
	}
	.footer .content-accordeon ul li a {
		font-size: 16px;
		line-height: 160%;
		color: #515154;
	}
	.footer .item-accordeon.active .content-accordeon .inner {padding-bottom: 0;}

	.footer-main {display: none;}
	.footer-address {display: none;}

	.footer-bottom {
	    justify-content: space-between;
	    align-items: flex-end;
	}
	.footer-bottom .form-letter {display: block !important;}
	.footer-bottom .form-letter button {min-width: 114px;}
	.footer-bottom .form-letter input {
		margin-right: 0;
		width: 200px;
		min-width: 200px;
	}
	.footer-bottom ul li + li {margin-left: 16px;}
}

@media screen and (max-width: 768px) {
	p {font-size: 16px;}

	.btn {min-width: 100%;}

	/* header */
	.nav .sub-menu ul {flex-wrap: wrap;}
	.nav .sub-menu ul li {
		width: 50%;
		margin-right: 0;
	}
	.nav .sub-menu ul li:nth-child(odd) {padding-right: 10px;}
	.nav .sub-menu ul li:nth-child(even) {padding-left: 10px;}

	/* home */
	.home {min-height: 400px;}
	.home h3.subtitle {
		font-weight: normal;
		font-size: 16px;
		line-height: 20px;
	}

	/* menu */
	.page-landing .menu-top br:last-child {display: none;}

	/* about */
	h3.title {
		font-size: 30px;
		line-height: 35px;
	}
	h2.title {
		font-size: 35px;
		line-height: 40px;
	}
	.page-about .content-text p {margin-bottom: 55px;}
	.page-about .content-text {padding: 55px 0;}

	/* grid flex */
	.grid-image {
		flex-direction: column;
		margin-right: -20px;
		margin-left: -20px;
	}
	.grid-image .grid > div {
		display: block;
		line-height: 0;
	}
	.grid-image .grid .item {
		width: 100%;
		margin-bottom: 4px;
	} 
	.grid-image .grid .item:first-child {margin-right: 0;}
	.grid-image .grid .item:last-child {
		margin-left: 0;
		margin-top: 4px;
	}
	.grid-image .grid > div:last-child {display: flex;}
	.grid-image .grid > div:last-child .item {width: 50%;}
	.grid-image .grid > div:last-child .item:first-child {margin-right: 2px;}
	.grid-image .grid > div:last-child .item:last-child {
		margin-left: 2px;
		margin-top: 0;
	}
	.grid-image .left {
	    margin-right: 0;
	    margin-left: 0;
	    width: 100%;
	}
	.grid-image .right {
	    margin-left: 0;
	    width: 100%;
	    padding-top: 20px !important;
	    padding-right: 20px;
	    padding-left: 20px;
	}
	.grid-image .big {margin-bottom: 4px;}

	/* security */
	.security {margin-top: 50px;}
	.security .descr {padding: 20px;}
	.people p br {display: none;}
	.people .icons span {margin-left: 20px;}
	.people .icons span, .people p {
	    font-size: 25px;
	    line-height: 130%;
	}

	/* article */
	.article .bottom .descr {
		padding-right: 0;
		padding-left: 0;
	}
	.article .ul-list {
		padding-right: 0;
		padding-left: 0;
	}
	.article .ul-list ul li {font-size: 15px;}
	.article .bottom {flex-direction: column;}
	.article .bottom p {font-size: 16px;}
	.article .bottom > div {padding: 25px 0 0 0;}

	/* item product */
	.item-product {
	    display: block;
	    margin-right: 0;
	    margin-left: 0;
	}
	.item-product .item {
	    width: auto;
	    margin: 0 0 26px 0;
	}
	.item-product .item p {font-size: 16px;}

	/* banner */
	.banner .inner {
	    left: 20px;
	    right: 20px;
	    bottom: 20px;
	    display: flex;
	    justify-content: space-between;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	}
	.banner .descr {
	    padding-right: 0;
	    margin-bottom: 20px;
	}
	.banner .descr + div {width: 100%;} 
	.banner-center p {
		font-size: 16px;
		line-height: 20px;
	}

	/* box-wrap */
	.box-wrap {
		flex-direction: column;
		padding-top: 30px !important;
	}
	.box-wrap .left, .box-wrap .right {
	    width: 100%;
	}
	.box-wrap .left {margin-right: 0;}
	.box-wrap .right {
	    margin-left: 0;
	    margin-top: 20px;
	}
	.box-wrap h2 {
		font-size: 35px;
		line-height: 40px;
	}
	.box-wrap h2 br {display: none;}
	.box-wrap.contact-us .left {padding-top: 0;}

	.size34 {
	    font-size: 25px !important;
	    line-height: 30px !important;
	}
	.mt195 {margin-top: 50px;}

	/* our product */
	.our-product {flex-direction: column;}
	.our-product .text {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.our-product .thumb {
		margin-left: 0;
		width: 100%;
	}

	/* organization */
	.organization {flex-direction: column;}
	.organization .text {
		width: 100%;
		margin-right: 0;
		padding: 20px;
	}
	.organization .thumb {
	    width: 100%;
	    margin-left: 0;
	    margin-top: 20px;
	}
	.organization ul li {font-size: 15px;}
	.organization .text {padding-top: 20px;}
	.organization {padding-top: 20px;}
	.organization.reverse .thumb {margin-right: 0;}
	.organization.reverse .text {margin-left: 0;}

	.w50 {width: 100%;}

	/* request demo */
	.form-style h3 {
		font-size: 30px;
		line-height: 35px;
	}

	/* footer */
	.footer-bottom {
	    justify-content: center;
	    flex-direction: column;
	    align-items: center;
	    text-align: center;
	}
	.footer-bottom .form-letter {
	    display: flex !important;
	    justify-content: center;
	    margin-bottom: 20px;
	}
	.footer-bottom form h3 {margin-right: 0;}
}

@media screen and (max-width: 600px) {
	/* menu */
	.menu ul {flex-wrap: wrap;}
	.menu ul li {margin: 0 0 30px 0;}
	.menu ul li:nth-child(1),
	.menu ul li:nth-child(2),
	.menu ul li:nth-child(3) {width: 33.33%;}
	.menu ul li:nth-last-child(1),
	.menu ul li:nth-last-child(2) {width: 50%;}

	.article .ul-list {flex-direction: column;}
	.article .ul-list ul + ul {
		margin-left: 0;
		margin-top: 20px;
	}
}

@media screen and (max-width: 500px) {
	/* request information */
	.form-style .group {flex-direction: column;}
	.form-style .group input:first-child {margin-right: 0;}
	.form-style .group input:last-child {margin-left: 0;}

	/* percent */
	.percent-wrap ul li:nth-child(1), 
	.percent-wrap ul li:nth-child(2), 
	.percent-wrap ul li:nth-child(3) {
	    width: 100%;
	}
	.percent-wrap ul li:nth-last-child(1), 
	.percent-wrap ul li:nth-last-child(2) {
	    width: 100%;
	}

	/* faqs */
	.form-search {
	    left: 20px;
	    right: 20px;
	    transform: none;
	    width: auto;
	}

	/* organization */
	.organization .btn {width: 100%;}

	/* footer */
	.footer-bottom .form-letter {width: 100%;}
	.footer-bottom .form-letter input {
		width: 150px;
		min-width: 150px;
	}
	.footer-bottom ul {flex-direction: column;}
	.footer-gray .footer-bottom ul li + li {
	    border-left: none;
	    margin-left: 0;
	}
	.footer-gray .footer-bottom ul li + li a {
	    padding-left: 0;
	}
}