@font-face {
    font-family: 'American Typewriter';
    src: url('../fonts/AmericanTypewriter.woff2') format('woff2'),
        url('../fonts/AmericanTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {list-style: none;}

img {
	max-width: 100%;
	height: auto;
}

.center {
    width: 100%;
    max-width: 1300px;
    min-width: 250px;
    margin: 0 auto;
    padding: 0 15px;
}

.d-none {display: none !important;}
.tx-c {text-align: center;}
.tx-l {text-align: left;}
.tx-r {text-align: right;}

body {
    font: 16px/1.5 'American Typewriter', sans-serif;
    color: #fff;
}

.main-screen {
    background: #000 url('../img/About_Background.png') no-repeat fixed center top;
    background-size: cover;
}

.main-screen .bg-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	max-width: 70%;
}

.section {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.text-paper {
	max-width: 900px;
	position: relative;
}
.inner-scroll {
	position: absolute;
	overflow-y: auto;
	padding-right: 10px;
}
.text-paper .inner-scroll {	
	top: 100px;
	left: 180px;
	right: 100px;
	bottom: 130px;	
}
.inner-scroll::-webkit-scrollbar {width: 3px;}
.inner-scroll::-webkit-scrollbar-track {background: transparent;}
.inner-scroll::-webkit-scrollbar-thumb {background: #000;}

.text {
	color: #000;
	font-weight: bold;
}
.text p + p {margin-top: 15px;}

.text-tag {
	max-width: 450px;
	position: relative;
}
.text-tag .inner-scroll {	
	top: 160px;
	left: 80px;
	right: 80px;
	bottom: 150px;
	text-align: center;
	padding-right: 0;
} 

.box-paper {
	max-width: 700px;
	position: relative;
}
.box-paper .inner-scroll {	
	top: 80px;
    left: 140px;
    right: 80px;
    bottom: 150px;
    text-align: center;
    padding-right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-content: center;
} 

.man {text-align: center;}
.man .avatar {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: 2px solid #c34248;
	margin: 0 auto;
}
.man .name {
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: #000;
	margin-top: 10px;
}
.man span {
	display: block;
	color: #c34248;
	font-weight: bold;
	font-size: 10px;
}