.page-about .header {
	border-bottom: 1px solid #e1e1e1;
}

/* -------- first screen ----------- */
.first-screen__wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.first-screen__content {
	min-width: 60%;
	padding-top: 50px;
}
.first-screen__thumb {
	min-width: 50%;
	padding-top: 13px;
}
.first-screen__title {
	font-weight: 300;
	font-size: 80px;
	line-height: 80px;
	text-transform: uppercase;
	color: #282e40;
}
.first-screen__content p {
	font-size: 17px;
	font-weight: 500;
	line-height: 28px;
	color: #151b2f;
}
.first-screen__content *:nth-child(2) {
	font-size: 20px;
	line-height: 34px;
	font-style: italic;
	color: #b31f24;
	margin: 20px 0;
}
/* -------- // first screen ----------- */

/* -------- section dark ----------- */
.process-about .section__description {
	font-weight: 500;
	font-size: 19px;
	font-style: italic;
	color: #8b9297;
}
.process-about .process__item:after {display: none;}
/* -------- // section dark ----------- */

/* -------- section promo about ----------- */
.section-promo__about {
	background: url(../img/promo-bg_about.jpg) no-repeat center;
	background-size: cover;
	padding: 0;
}
.section-promo__about .wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
.section-promo__about .promo {padding: 0;}
.section-promo__about .promo:before {display: none;}
.section-promo__about .list-check {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}
.section-promo__about .promo__wrap {max-width: 100%;}
.section-promo__about .list-check li {
	width: 100%;
	max-width: 50%;
}
/* -------- // section promo about ----------- */

/* -------- section dc----------- */

/* -------- // section dc ----------- */